Repository BLAST-ImpactX/impactx, pull requests merged in 2022-05, with the labels that each got.

#118 Added a thin multipole element
  docs/source/usage/examples.rst
  docs/source/usage/parameters.rst
  examples/CMakeLists.txt
  examples/multipole/README.rst
  examples/multipole/analysis_multipole.py
  examples/multipole/input_multipole.in
  src/initialization/InitElement.cpp
  src/particles/elements/All.H
  src/particles/elements/Multipole.H
Labels: component: elements

#122 Doc: Perlmutter Upgrade
  README.md
  docs/source/install/hpc/perlmutter.rst
Labels: component: documentation

#126 Improve Thin Multipole Performance
  src/particles/elements/Multipole.H
Labels: component: elements, Performance optimization

#125 Added a thin nonlinear element based IOTA magnet
  docs/source/usage/parameters.rst
  src/initialization/InitElement.cpp
  src/particles/elements/All.H
  src/particles/elements/NonlinearLens.H
Labels: component: elements

#128 Update: ABLASTR
  cmake/dependencies/ABLASTR.cmake
Labels: component: third party

#129 Rename ImpactX:: Public Methods
  src/ImpactX.H
  src/ImpactX.cpp
  src/initialization/InitDistribution.cpp
  src/initialization/InitElement.cpp
  src/main.cpp
Labels: component: core

#130 CI: HIP with https
  .github/workflows/dependencies/hip.sh
Labels: backend: hip, component: tests

#132 Update: ABLASTR
  cmake/dependencies/ABLASTR.cmake
Labels: component: third party

#127 ImpactX: Move Constructor Logic
  src/ImpactX.H
  src/ImpactX.cpp
  src/initialization/AmrCoreData.H
  src/initialization/AmrCoreData.cpp
  src/initialization/CMakeLists.txt
  src/initialization/InitOneBoxPerRank.H
  src/initialization/InitOneBoxPerRank.cpp
  src/main.cpp
Labels: component: core

#135 Update: ABLASTR; Diagnostics: Globally Unique ID
  cmake/dependencies/ABLASTR.cmake
  src/particles/diagnostics/DiagnosticOutput.cpp
Labels: component: third party, component: diagnostics

#134 Added diagnostic to print IOTA invariants H and I for all particles.
  src/ImpactX.cpp
  src/particles/diagnostics/DiagnosticOutput.H
  src/particles/diagnostics/DiagnosticOutput.cpp
  src/particles/diagnostics/NonlinearLensInvariants.H
Labels: component: diagnostics

#139 Analysis: Id as Pandas Dataframe Index
  examples/cfchannel/analysis_cfchannel.py
  examples/chicane/analysis_chicane.py
  examples/distgen/analysis_gaussian.py
  examples/distgen/analysis_kurth4d.py
  examples/distgen/analysis_kvdist.py
  examples/distgen/analysis_semigaussian.py
  examples/fodo/analysis_fodo.py
  examples/fodo_rf/analysis_fodo_rf.py
  examples/kurth/analysis_kurth.py
  examples/multipole/analysis_multipole.py
Labels: component: diagnostics

#137 Modified IOTA nonlinear lens example
  docs/source/usage/examples.rst
  docs/source/usage/parameters.rst
  examples/CMakeLists.txt
  examples/iota_lens/README.rst
  examples/iota_lens/analysis_iotalens.py
  examples/iota_lens/input_iotalens.in
  src/ImpactX.cpp
  src/particles/diagnostics/DiagnosticOutput.cpp
Labels: component: tests
