Repository BLAST-ImpactX/impactx, pull requests merged in 2023-03, with the labels that each got.

#304 Add user input of RF cavity Fourier coefficients
  docs/source/usage/parameters.rst
  docs/source/usage/python.rst
  examples/rfcavity/input_rfcavity.in
  examples/rfcavity/run_rfcavity.py
  src/initialization/InitElement.cpp
  src/particles/elements/RFCavity.H
  src/python/elements.cpp
Labels: component: elements

#320 Fix: RFCavity Coefficients (Use-After-Free)
  src/particles/elements/RFCavity.H
  src/python/elements.cpp
Labels: bug, bug: affects latest release, component: elements

#309 Add soft solenoid
  docs/source/usage/examples.rst
  docs/source/usage/parameters.rst
  docs/source/usage/python.rst
  examples/CMakeLists.txt
  examples/solenoid_softedge/README.rst
  examples/solenoid_softedge/analysis_solenoid_softedge.py
  examples/solenoid_softedge/input_solenoid_softedge.in
  examples/solenoid_softedge/run_solenoid_softedge.py
  src/initialization/InitElement.cpp
  src/particles/elements/All.H
  src/particles/elements/SoftSol.H
  src/python/elements.cpp
Labels: component: elements

#319 CI: Clang Sanitizers
  .clang-tidy
  .github/ci/sanitizer/clang/Leak.supp
  .github/workflows/dependencies/clang-san.sh
  .github/workflows/dependencies/clang-tidy.sh
  .github/workflows/tooling.yml
Labels: component: tests

#323 Element Push: Restructure
  src/ImpactX.cpp
  src/particles/Push.H
  src/particles/Push.cpp
  src/particles/PushAll.H
  src/particles/elements/None.H
  src/particles/elements/Programmable.H
  src/particles/elements/Programmable.cpp
  src/particles/elements/mixin/beamoptic.H
  src/python/elements.cpp
Labels: component: elements

#326 Fix: Push Reference Particle 1x in Step
  src/particles/PushAll.H
Labels: bug, bug: affects latest release, component: elements

#322 Add soft quadrupole
  docs/source/usage/examples.rst
  docs/source/usage/parameters.rst
  docs/source/usage/python.rst
  examples/CMakeLists.txt
  examples/quadrupole_softedge/README.rst
  examples/quadrupole_softedge/analysis_quadrupole_softedge.py
  examples/quadrupole_softedge/input_quadrupole_softedge.in
  examples/quadrupole_softedge/run_quadrupole_softedge.py
  src/initialization/InitElement.cpp
  src/particles/elements/All.H
  src/particles/elements/SoftQuad.H
  src/python/elements.cpp
Labels: component: elements

#327 Fix: Shorter Coefficient Arrays in Input
  examples/quadrupole_softedge/input_quadrupole_softedge.in
  examples/quadrupole_softedge/run_quadrupole_softedge.py
  src/initialization/InitElement.cpp
Labels: bug, component: elements

#328 CI: CUDA Test on Ubuntu 20.04
  .github/workflows/cuda.yml
  .github/workflows/dependencies/nvcc11-openmpi.sh
Labels: backend: cuda, component: tests

#325 Programmable Element: Thread Safety
  examples/fodo/run_fodo_programmable.py
  src/particles/PushAll.H
  src/particles/elements/Programmable.H
  src/particles/elements/Programmable.cpp
  src/python/elements.cpp
Labels: backend: openmp, component: python

#331 CI: CMake-Easyinstall New Link
  .github/workflows/dependencies/clang-san-openmpi.sh
  .github/workflows/dependencies/clang-tidy.sh
  .github/workflows/dependencies/hip-openmpi.sh
  .github/workflows/dependencies/nvcc11-openmpi.sh
Labels: component: tests
