Repository BLAST-ImpactX/impactx, pull requests merged in 2023-05, with the labels that each got.

#337 openPMD: Use Steps
  src/particles/elements/diagnostics/openPMD.cpp
Labels: component: diagnostics

#352 Release 23.05
  CMakeLists.txt
  cmake/dependencies/ABLASTR.cmake
  cmake/dependencies/pyAMReX.cmake
  docs/source/conf.py
  setup.py
Labels: component: documentation, component: third party

#353 Particle Enums: Rename Momentum
  src/particles/ImpactXParticleContainer.H
  src/particles/ImpactXParticleContainer.cpp
  src/particles/diagnostics/DiagnosticOutput.cpp
  src/particles/elements/mixin/beamoptic.H
  src/particles/spacecharge/GatherAndPush.cpp
  src/particles/transformation/CoordinateTransformation.cpp
Labels: component: documentation

#355 Add triangle distribution
  docs/source/usage/parameters.rst
  docs/source/usage/python.rst
  src/initialization/InitDistribution.cpp
  src/particles/distribution/All.H
  src/particles/distribution/Triangle.H
  src/python/distribution.cpp
Labels: component: distributions

#357 All.H: Newlines & Order
  src/particles/distribution/All.H
  src/particles/elements/All.H
Labels: component: elements, component: distributions

#359 Python: Fix Unnecessary Lambda
  src/python/impactx/__init__.py
Labels: component: python

#361 CUDA: Drop <11.3
  .github/workflows/cuda.yml
  .github/workflows/dependencies/nvcc11-openmpi.sh
  docs/source/install/dependencies.rst
Labels: component: documentation, backend: cuda, component: tests

#336 Add reduced diagnostics for beam
  docs/source/dataanalysis/dataanalysis.rst
  docs/source/usage/python.rst
  src/ImpactX.cpp
  src/particles/diagnostics/CMakeLists.txt
  src/particles/diagnostics/DiagnosticOutput.H
  src/particles/diagnostics/DiagnosticOutput.cpp
  src/particles/diagnostics/ReducedBeamCharacteristics.H
  src/particles/diagnostics/ReducedBeamCharacteristics.cpp
  src/python/ImpactX.cpp
  tests/python/test_impactx.py
Labels: component: diagnostics, component: python

#356 Add chromatic elements
  docs/source/theory/intro.rst
  docs/source/usage/examples.rst
  docs/source/usage/parameters.rst
  docs/source/usage/python.rst
  examples/CMakeLists.txt
  examples/fodo_chromatic/README.rst
  examples/fodo_chromatic/analysis_fodo_chr.py
  examples/fodo_chromatic/input_fodo_chr.in
  examples/fodo_chromatic/run_fodo_chr.py
  src/initialization/InitDistribution.cpp
  src/initialization/InitElement.cpp
  src/particles/ReferenceParticle.H
  src/particles/elements/All.H
  src/particles/elements/ChrDrift.H
  src/particles/elements/ChrQuad.H
  src/particles/elements/ChrUniformAcc.H
  src/particles/elements/ExactDrift.H
  src/python/ReferenceParticle.cpp
  src/python/elements.cpp
Labels: component: elements

#364 Fix IOTA nonlinear lens element
  examples/iota_lens/input_iotalens.in
  examples/iota_lens/run_iotalens.py
  src/particles/elements/NonlinearLens.H
Labels: bug, bug: affects latest release, component: elements

#363 CTest Runs: w/o Backtraces
  examples/CMakeLists.txt
Labels: component: tests

#369 Fix: openPMD Output Offset
  src/particles/elements/diagnostics/openPMD.cpp
Labels: bug, bug: affects latest release, component: diagnostics, component: elements

#367 Change Dynamic Resizing
  docs/source/usage/parameters.rst
  docs/source/usage/python.rst
  examples/cfchannel/input_cfchannel_10nC.in
  examples/cfchannel/run_cfchannel_10nC.py
  examples/expanding_beam/input_expanding.in
  examples/expanding_beam/run_expanding.py
  examples/kurth/input_kurth_10nC_periodic.in
  examples/kurth/input_kurth_periodic.in
  src/initialization/InitMeshRefinement.cpp
  src/python/ImpactX.cpp
Labels: changes input scripts / defaults, component: space charge

#372 Python: More Bindings for Sim & Beam
  docs/source/dataanalysis/dataanalysis.rst
  docs/source/usage/python.rst
  src/python/ImpactX.cpp
  src/python/ImpactXParticleContainer.cpp
  tests/python/test_impactx.py
Labels: component: python

#366 Line Element: Repeat Option
  docs/source/usage/parameters.rst
  examples/iota_lens/input_iotalens.in
  src/initialization/InitElement.cpp
Labels: component: elements

#368 Implement Lattice Periods
  docs/source/usage/parameters.rst
  docs/source/usage/python.rst
  examples/cyclotron/input_cyclotron.in
  examples/iota_lattice/README.rst
  examples/iota_lattice/analysis_iotalattice.py
  examples/iota_lattice/input_iotalattice.in
  examples/iota_lattice/run_iotalattice.py
  src/ImpactX.cpp
  src/initialization/InitElement.cpp
  src/python/ImpactX.cpp
Labels: component: elements
