Repository BLAST-ImpactX/impactx, pull requests merged in 2023-11, with the labels that each got.

#453 README: Install is in Manual
  README.md
Labels: component: documentation

#446 Inputs: Rename to Kinetic Beam Energy
  docs/source/usage/parameters.rst
  docs/source/usage/python.rst
  examples/cfbend/input_cfbend.in
  examples/cfbend/run_cfbend.py
  examples/cfchannel/input_cfchannel.in
  examples/cfchannel/input_cfchannel_10nC.in
  examples/cfchannel/run_cfchannel.py
  examples/cfchannel/run_cfchannel_10nC.py
  examples/chicane/input_chicane.in
  examples/chicane/run_chicane.py
  examples/compression/input_compression.in
  examples/compression/run_compression.py
  examples/cyclotron/input_cyclotron.in
  examples/cyclotron/run_cyclotron.py
  examples/distgen/input_gaussian.in
  examples/distgen/input_kurth4d.in
  examples/distgen/input_kvdist.in
  examples/distgen/input_semigaussian.in
  examples/expanding_beam/input_expanding.in
  examples/expanding_beam/run_expanding.py
  examples/fodo/input_fodo.in
  examples/fodo/run_fodo.py
  examples/fodo/run_fodo_madx.py
  examples/fodo/run_fodo_programmable.py
  examples/fodo_chromatic/input_fodo_chr.in
  examples/fodo_chromatic/run_fodo_chr.py
  examples/fodo_rf/input_fodo_rf.in
  examples/fodo_rf/run_fodo_rf.py
  examples/iota_lattice/input_iotalattice.in
  examples/iota_lattice/run_iotalattice.py
  examples/iota_lens/input_iotalens.in
  examples/iota_lens/run_iotalens.py
  examples/kicker/input_kicker.in
  examples/kicker/run_kicker.py
  examples/kurth/input_kurth_10nC_periodic.in
  examples/kurth/input_kurth_periodic.in
  examples/kurth/run_kurth_10nC_periodic.py
  examples/kurth/run_kurth_periodic.py
  examples/multipole/input_multipole.in
  examples/multipole/run_multipole.py
  examples/positron_channel/input_positron.in
  examples/positron_channel/run_positron.py
  examples/quadrupole_softedge/input_quadrupole_softedge.in
  examples/quadrupole_softedge/run_quadrupole_softedge.py
  examples/rfcavity/input_rfcavity.in
  examples/rfcavity/run_rfcavity.py
  examples/rotation/input_rotation.in
  examples/rotation/run_rotation.py
  examples/solenoid/input_solenoid.in
  examples/solenoid/run_solenoid.py
  examples/solenoid/solenoid.madx
  examples/solenoid_softedge/input_solenoid_softedge.in
  examples/solenoid_softedge/run_solenoid_softedge.py
  src/initialization/InitDistribution.cpp
  src/initialization/Validate.cpp
  src/particles/ReferenceParticle.H
  src/python/ReferenceParticle.cpp
  src/python/impactx/madx_to_impactx.py
  tests/python/test_impactx.py
  tests/python/test_transformation.py
Labels: bug, component: documentation, enhancement, bug: affects latest release, changes input scripts / defaults, component: tests, component: distributions, component: python

#443 Diagnostics: Remove ASCII Particles
  src/particles/diagnostics/DiagnosticOutput.H
  src/particles/diagnostics/DiagnosticOutput.cpp
Labels: component: diagnostics, Performance optimization

#456 MAD-X Reader: Avoid Scipy
  src/python/impactx/madx_to_impactx.py
Labels: bug, bug: affects latest release, install, component: third party, component: python

#459 Doc: Examples w/ New `Run` Intro
  examples/cfbend/README.rst
  examples/cfchannel/README.rst
  examples/chicane/README.rst
  examples/compression/README.rst
  examples/cyclotron/README.rst
  examples/expanding_beam/README.rst
  examples/fodo/README.rst
  examples/fodo_chromatic/README.rst
  examples/fodo_rf/README.rst
  examples/iota_lattice/README.rst
  examples/iota_lens/README.rst
  examples/kicker/README.rst
  examples/kurth/README.rst
  examples/multipole/README.rst
  examples/positron_channel/README.rst
  examples/quadrupole_softedge/README.rst
  examples/rfcavity/README.rst
  examples/rotation/README.rst
  examples/solenoid/README.rst
  examples/solenoid_softedge/README.rst
Labels: component: documentation

#460 Doc: Button to Copy Code Blocks
  docs/requirements.txt
  docs/source/conf.py
  docs/spack.yaml
Labels: component: documentation

#461 CI: Unbreak macOS
  .github/workflows/macos.yml
Labels: component: tests

#462 Release 23.11
  CMakeLists.txt
  cmake/dependencies/ABLASTR.cmake
  cmake/dependencies/pyAMReX.cmake
  docs/source/conf.py
  setup.py
Labels: component: documentation, component: third party

#463 Doc: NERSC Update
  docs/source/index.rst
  docs/source/install/hpc.rst
  docs/source/install/hpc/cori.rst
  docs/source/install/hpc/perlmutter-nersc/install_cpu_dependencies.sh
  docs/source/install/hpc/perlmutter-nersc/install_gpu_dependencies.sh
  docs/source/install/hpc/perlmutter-nersc/perlmutter_cpu.sbatch
  docs/source/install/hpc/perlmutter-nersc/perlmutter_cpu_impactx.profile.example
  docs/source/install/hpc/perlmutter-nersc/perlmutter_gpu.sbatch
  docs/source/install/hpc/perlmutter-nersc/perlmutter_gpu_impactx.profile.example
  docs/source/install/hpc/perlmutter.rst
  docs/source/usage/how_to_run.rst
  examples/cyclotron/README.rst
Labels: component: documentation, machine / system

#465 Dist None: Set to Zero
  docs/source/usage/python.rst
  src/initialization/InitDistribution.cpp
  src/particles/distribution/None.H
  src/python/distribution.cpp
Labels: warning

#468 Python: Expose Manual Push
  src/particles/Push.cpp
  src/particles/PushAll.H
  src/particles/elements/diagnostics/openPMD.cpp
  src/python/elements.cpp
  tests/python/test_push.py
Labels: component: elements, component: python

#464 Python: Expose Properties of `ConstF`
  docs/source/usage/python.rst
  src/particles/elements/ConstF.H
  src/python/elements.cpp
Labels: component: elements, component: python

#458 Pandas: `ImpactXParticleContainer.to_df()`
  cmake/dependencies/ABLASTR.cmake
  cmake/dependencies/pyAMReX.cmake
  src/python/ImpactXParticleContainer.cpp
  src/python/impactx/ImpactXParticleContainer.py
  src/python/impactx/__init__.py
  tests/python/test_dataframe.py
Labels: enhancement, component: python

#398 Add aperture element
  docs/source/usage/examples.rst
  docs/source/usage/parameters.rst
  docs/source/usage/python.rst
  examples/CMakeLists.txt
  examples/aperture/README.rst
  examples/aperture/analysis_aperture.py
  examples/aperture/input_aperture.in
  examples/aperture/run_aperture.py
  src/ImpactX.H
  src/ImpactX.cpp
  src/initialization/InitElement.cpp
  src/particles/CMakeLists.txt
  src/particles/CollectLost.H
  src/particles/CollectLost.cpp
  src/particles/ImpactXParticleContainer.H
  src/particles/ImpactXParticleContainer.cpp
  src/particles/elements/All.H
  src/particles/elements/Aperture.H
  src/particles/elements/diagnostics/openPMD.cpp
  src/python/ImpactX.cpp
  src/python/ImpactXParticleContainer.cpp
  src/python/elements.cpp
  src/python/impactx/ImpactXParticleContainer.py
Labels: component: elements
