Repository BLAST-ImpactX/impactx, pull requests merged in 2024-07, with the labels that each got.

#642 update python usage doc, field names and default values
  docs/source/usage/python.rst
Labels: bug, component: documentation, bug: affects latest release, component: python

#643 Release 24.07
  CMakeLists.txt
  cmake/dependencies/ABLASTR.cmake
  cmake/dependencies/pyAMReX.cmake
  docs/source/conf.py
  setup.py
  src/particles/ChargeDeposition.cpp
Labels: component: documentation, component: third party

#644 Fix CMake Python IPO Control
  CMakeLists.txt
  cmake/ImpactXFunctions.cmake
Labels: bug, bug: affects latest release, install, component: python

#645 Update Quad to treat special case k = 0
  src/particles/elements/Quad.H
Labels: bug, bug: affects latest release, component: elements

#646 Python: `ShortRF` Properties
  src/python/elements.cpp
Labels: component: elements, component: python

#553 CI: Fix ASAN/UBSAN Tests
  .github/workflows/tooling.yml
Labels: component: tests

#647 Python: add elements properties
  src/python/elements.cpp
Labels: component: elements, component: python

#648 Fix: Python Kicker Alignment
  src/python/elements.cpp
Labels: bug, bug: affects latest release, component: elements, component: python

#649 Python: Uniform Naming for units->unit Arguments
  docs/source/usage/parameters.rst
  docs/source/usage/python.rst
  examples/achromatic_spectrometer/run_spectrometer.py
  examples/apochromatic/run_apochromatic_pl.py
  examples/kicker/run_kicker.py
  examples/positron_channel/run_positron.py
  src/python/elements.cpp
Labels: changes input scripts / defaults

#605 3D IGF Solver
  .github/workflows/codeql.yml
  .github/workflows/cuda.yml
  .github/workflows/dependencies/clang-san-openmpi.sh
  .github/workflows/dependencies/clang-tidy.sh
  .github/workflows/dependencies/gcc-openmpi.sh
  .github/workflows/dependencies/gcc.sh
  .github/workflows/hip.yml
  .github/workflows/macos.yml
  .github/workflows/stubs.yml
  .github/workflows/tooling.yml
  .github/workflows/ubuntu.yml
  cmake/dependencies/ABLASTR.cmake
  cmake/dependencies/pyAMReX.cmake
  docs/source/install/hpc/lumi-csc/lumi_cpu_impactx.profile.example
  docs/source/install/hpc/lumi.rst
  docs/source/install/hpc/perlmutter.rst
  docs/source/usage/parameters.rst
  docs/source/usage/python.rst
  examples/CMakeLists.txt
  examples/cfchannel/input_cfchannel_10nC_fft.in
  examples/cfchannel/input_cfchannel_10nC_mlmg.in
  examples/cfchannel/run_cfchannel_10nC_fft.py
  examples/cfchannel/run_cfchannel_10nC_mlmg.py
  examples/expanding_beam/input_expanding_fft.in
  examples/expanding_beam/input_expanding_mlmg.in
  examples/expanding_beam/run_expanding_fft.py
  examples/expanding_beam/run_expanding_mlmg.py
  src/initialization/InitMeshRefinement.H
  src/initialization/InitMeshRefinement.cpp
  src/particles/spacecharge/PoissonSolve.cpp
  src/python/ImpactX.cpp
Labels: component: space charge
