Repository BLAST-ImpactX/impactx, pull requests merged in 2024-05, with the labels that each got.

#583 Add README documentation for distgen
  docs/source/usage/examples.rst
  examples/distgen/README.rst
Labels: component: documentation, component: tests, component: distributions

#585 Clarify that ReducedBeamCharacteristics are relative to reference particle
  docs/source/dataanalysis/dataanalysis.rst
  docs/source/theory/intro.rst
Labels: component: documentation

#562 Add thin nonlinear plasma lens with transverse taper
  docs/source/usage/examples.rst
  docs/source/usage/parameters.rst
  docs/source/usage/python.rst
  examples/CMakeLists.txt
  examples/achromatic_spectrometer/README.rst
  examples/achromatic_spectrometer/analysis_spectrometer.py
  examples/achromatic_spectrometer/input_spectrometer.in
  examples/achromatic_spectrometer/run_spectrometer.py
  src/initialization/InitElement.cpp
  src/particles/elements/All.H
  src/particles/elements/TaperedPL.H
  src/python/elements.cpp
Labels: component: elements

#596 Improve treatment of RFCavity endpoints
  src/particles/elements/RFCavity.H
Labels: bug, bug: affects latest release, component: elements

#603 Doc: TaperedPL Details
  docs/source/usage/parameters.rst
  docs/source/usage/python.rst
  examples/achromatic_spectrometer/README.rst
  src/python/elements.cpp
Labels: component: documentation, component: elements

#601 Doc: Split Theory Into Sections
  docs/source/index.rst
  docs/source/theory/assumptions.rst
  docs/source/theory/beam_distribution.rst
  docs/source/theory/concepts.rst
  docs/source/theory/coordinates_units.rst
  docs/source/theory/intro.rst
Labels: component: documentation

#606 CI: Update ROCm/HIP
  .github/workflows/dependencies/hip-openmpi.sh
Labels: backend: hip, component: third party, component: tests

#607 Amend Notices for Non-Endorsement
  NOTICE.txt
  README.md
Labels: component: documentation

#611 Fix Sole Run of `test_charge_deposition.py`
  tests/python/test_charge_deposition.py
Labels: bug, bug: affects latest release, component: tests

#612 Python: Deposit Charge
  src/python/ImpactX.cpp
  tests/python/test_charge_deposition.py
Labels: component: python

#616 Fix Py Extensions & Install `.pyi` Files
  setup.py
  src/python/impactx/ImpactXParIter.pyi
  src/python/impactx/ImpactXParticleContainer.pyi
  src/python/impactx/__init__.py
  src/python/impactx/extensions/ImpactXParIter.py
  src/python/impactx/extensions/ImpactXParticleContainer.py
  src/python/impactx/extensions/__init__.py
  tests/python/test_particle_tiles.py
Labels: bug, bug: affects latest release, component: python

#619 set num threads to avoid hanging
  examples/pytorch_surrogate_model/run_ml_surrogate_15_stage.py
Labels: bug, bug: affects latest release, component: third party, workaround, component: python

#584 Add Total Bunch Attributes to Monitor
  docs/source/dataanalysis/dataanalysis.rst
  examples/pytorch_surrogate_model/visualize_ml_surrogate_15_stage.py
  src/particles/diagnostics/DiagnosticOutput.cpp
  src/particles/diagnostics/ReducedBeamCharacteristics.H
  src/particles/diagnostics/ReducedBeamCharacteristics.cpp
  src/particles/elements/diagnostics/openPMD.H
  src/particles/elements/diagnostics/openPMD.cpp
Labels: component: diagnostics

#597 Add SI units support to soft-edge solenoid
  docs/source/usage/parameters.rst
  docs/source/usage/python.rst
  src/initialization/InitElement.cpp
  src/particles/elements/SoftSol.H
  src/python/elements.cpp
Labels: component: elements

#620 Fix: PyTorch Example
  examples/pytorch_surrogate_model/run_ml_surrogate_15_stage.py
  examples/pytorch_surrogate_model/surrogate_model_definitions.py
Labels: bug, component: tests

#609 Release 24.05
  CMakeLists.txt
  cmake/dependencies/ABLASTR.cmake
  cmake/dependencies/pyAMReX.cmake
  cmake/dependencies/pybind11.cmake
  docs/source/conf.py
  setup.py
Labels: component: documentation

#623 Doc: Programmable Element (FODO)
  docs/source/usage/examples.rst
  examples/CMakeLists.txt
  examples/fodo_programmable/README.rst
  examples/fodo_programmable/analysis_fodo.py
  examples/fodo_programmable/plot_fodo.py
  examples/fodo_programmable/run_fodo_programmable.py
Labels: component: documentation, component: tests, component: python

#626 Doc: LUMI-C
  docs/source/install/hpc/lumi-csc/install_cpu_dependencies.sh
  docs/source/install/hpc/lumi-csc/install_gpu_dependencies.sh
  docs/source/install/hpc/lumi-csc/lumi_cpu.sbatch
  docs/source/install/hpc/lumi-csc/lumi_cpu_impactx.profile.example
  docs/source/install/hpc/lumi-csc/lumi_gpu.sbatch
  docs/source/install/hpc/lumi-csc/lumi_gpu_impactx.profile.example
  docs/source/install/hpc/lumi.rst
Labels: component: documentation, machine / system
