Repository BLAST-ImpactX/impactx, pull requests merged in 2024-10, with the labels that each got.

#719 Added export functionality for user inputs in dashboard
  src/python/impactx/dashboard/Toolbar/exportTemplate.py
  src/python/impactx/dashboard/Toolbar/toolbarMain.py
Labels: component: dashboard

#718 [Dashboard] Improved Simulation Output Logging
  src/python/impactx/dashboard/Analyze/plotsMain.py
  src/python/impactx/dashboard/requirements.txt
Labels: component: dashboard

#720 Add ref_particle charge & mass as user options in dashboard
  src/python/impactx/dashboard/Analyze/plot_PhaseSpaceProjections/phaseSpace.py
  src/python/impactx/dashboard/Input/generalFunctions.py
  src/python/impactx/dashboard/Input/inputParameters/inputMain.py
  src/python/impactx/dashboard/Toolbar/exportTemplate.py
Labels: component: dashboard

#704 `load_inputs_file`: Simplify File Check
  src/python/ImpactX.cpp
Labels: component: third party, component: python

#713 BeamMonitor: Enable Filtering by Cycle (Turn)
  docs/source/usage/examples.rst
  docs/source/usage/parameters.rst
  docs/source/usage/python.rst
  examples/CMakeLists.txt
  examples/fodo_channel/README.rst
  examples/fodo_channel/analysis_fodo.py
  examples/fodo_channel/input_fodo.in
  examples/fodo_channel/plot_fodo.py
  examples/fodo_channel/run_fodo.py
  examples/pytorch_surrogate_model/run_ml_surrogate_15_stage.py
  src/ImpactX.cpp
  src/initialization/InitElement.cpp
  src/particles/Push.H
  src/particles/Push.cpp
  src/particles/PushAll.H
  src/particles/elements/Empty.H
  src/particles/elements/Marker.H
  src/particles/elements/Programmable.H
  src/particles/elements/Programmable.cpp
  src/particles/elements/diagnostics/openPMD.H
  src/particles/elements/diagnostics/openPMD.cpp
  src/particles/elements/mixin/beamoptic.H
  src/python/elements.cpp
Labels: component: diagnostics

#729 CMake: Fix List of Pip Options
  .github/workflows/macos.yml
  CMakeLists.txt
  docs/source/install/cmake.rst
Labels: bug, bug: affects latest release, install, component: python

#702 Add beam eigenemittances to reduced diagnostics.
  docs/source/dataanalysis/dataanalysis.rst
  docs/source/usage/examples.rst
  docs/source/usage/parameters.rst
  docs/source/usage/python.rst
  examples/CMakeLists.txt
  examples/coupled_optics/README.rst
  examples/coupled_optics/analysis_coupled_optics.py
  examples/coupled_optics/input_coupled_optics.in
  examples/coupled_optics/run_coupled_optics.py
  src/particles/diagnostics/CMakeLists.txt
  src/particles/diagnostics/CovarianceMatrixMath.H
  src/particles/diagnostics/DiagnosticOutput.cpp
  src/particles/diagnostics/EmittanceInvariants.H
  src/particles/diagnostics/EmittanceInvariants.cpp
  src/particles/diagnostics/ReducedBeamCharacteristics.cpp
  src/python/ImpactX.cpp
  tests/python/test_transformation.py
Labels: component: diagnostics

#732 Fix CI: CodeQL Setup
  .github/workflows/codeql.yml
Labels: bug, component: third party, component: tests

#730 Update zero-strength quad case = drift.
  src/particles/elements/ChrQuad.H
  src/particles/elements/Quad.H
Labels: component: elements

#733 Release: 24.10
  CMakeLists.txt
  cmake/dependencies/ABLASTR.cmake
  cmake/dependencies/pyAMReX.cmake
  docs/source/conf.py
  setup.py
Labels: component: documentation

#734 Doc: Update Publications
  docs/source/acknowledge_us.rst
  examples/pytorch_surrogate_model/README.rst
Labels: component: documentation

#735 AMReX: `development`
  cmake/dependencies/ABLASTR.cmake
  cmake/dependencies/pyAMReX.cmake
Labels: dependencies

#740 AMReX: `development`
  cmake/dependencies/ABLASTR.cmake
Labels: dependencies

#737 Distributions: non-private members
  src/particles/distribution/Gaussian.H
  src/particles/distribution/KVdist.H
  src/particles/distribution/Kurth4D.H
  src/particles/distribution/Kurth6D.H
  src/particles/distribution/Semigaussian.H
  src/particles/distribution/Thermal.H
  src/particles/distribution/Triangle.H
  src/particles/distribution/Waterbag.H
Labels: component: distributions

#738 `PYBIND11_FINDPYTHON=ON`
  CMakeLists.txt
  cmake/dependencies/pybind11.cmake
  setup.py
Labels: bug, bug: affects latest release, install, component: python

#736 Use `amrex::SmallMatrix`
  src/particles/ReferenceParticle.H
  src/particles/diagnostics/CovarianceMatrixMath.H
  src/particles/diagnostics/EmittanceInvariants.H
  src/particles/diagnostics/EmittanceInvariants.cpp
  src/particles/diagnostics/ReducedBeamCharacteristics.cpp
  src/particles/elements/RFCavity.H
  src/particles/elements/SoftQuad.H
  src/particles/elements/SoftSol.H
Labels: component: diagnostics, component: elements

#739 Add periodic masking option to Aperture.
  docs/source/usage/parameters.rst
  docs/source/usage/python.rst
  examples/CMakeLists.txt
  examples/aperture/README.rst
  examples/aperture/analysis_aperture_periodic.py
  examples/aperture/input_aperture_periodic.in
  examples/aperture/run_aperture_periodic.py
  src/initialization/InitElement.cpp
  src/particles/elements/Aperture.H
  src/python/elements.cpp
Labels: enhancement, component: elements

#750 CI: fix `AppleClang` workflow
  .github/workflows/macos.yml
Labels: bug, component: tests

#747 Element to apply a simple x-y rotation
  docs/source/usage/parameters.rst
  docs/source/usage/python.rst
  examples/CMakeLists.txt
  examples/rotation/README.rst
  examples/rotation/analysis_rotation_xy.py
  examples/rotation/input_rotation_xy.in
  examples/rotation/run_rotation_xy.py
  src/initialization/InitElement.cpp
  src/particles/elements/All.H
  src/particles/elements/PlaneXYRot.H
  src/python/elements.cpp
Labels: component: elements

#748 Change distribution default parameters to Twiss in dashboard
  src/python/impactx/dashboard/Input/distributionParameters/distributionFunctions.py
  src/python/impactx/dashboard/Input/distributionParameters/distributionMain.py
  src/python/impactx/dashboard/Input/inputParameters/inputFunctions.py
  src/python/impactx/dashboard/Toolbar/exportTemplate.py
Labels: changes input scripts / defaults, component: dashboard
