Repository BLAST-ImpactX/impactx, pull requests merged in 2024-01, with the labels that each got.

#492 Distributions: Cleaning
  src/particles/distribution/Gaussian.H
  src/particles/distribution/KVdist.H
  src/particles/distribution/Kurth4D.H
  src/particles/distribution/Kurth6D.H
  src/particles/distribution/Semigaussian.H
  src/particles/distribution/Waterbag.H
  src/python/distribution.cpp
Labels: Performance optimization

#422 Adding EPAC2004 space charge benchmarks
  docs/source/usage/examples.rst
  docs/source/usage/parameters.rst
  docs/source/usage/python.rst
  examples/CMakeLists.txt
  examples/epac2004_benchmarks/README.rst
  examples/epac2004_benchmarks/analysis_bithermal.py
  examples/epac2004_benchmarks/analysis_fodo_rf_SC.py
  examples/epac2004_benchmarks/analysis_thermal.py
  examples/epac2004_benchmarks/input_bithermal.in
  examples/epac2004_benchmarks/input_fodo_rf_SC.in
  examples/epac2004_benchmarks/input_thermal.in
  examples/epac2004_benchmarks/plot_bithermal.py
  examples/epac2004_benchmarks/run_bithermal.py
  examples/epac2004_benchmarks/run_fodo_rf_SC.py
  examples/epac2004_benchmarks/run_thermal.py
  src/initialization/InitDistribution.cpp
  src/particles/distribution/All.H
  src/particles/distribution/Gaussian.H
  src/particles/distribution/KVdist.H
  src/particles/distribution/Kurth4D.H
  src/particles/distribution/Kurth6D.H
  src/particles/distribution/None.H
  src/particles/distribution/Semigaussian.H
  src/particles/distribution/Thermal.H
  src/particles/distribution/Triangle.H
  src/particles/distribution/Waterbag.H
  src/particles/transformation/ToFixedT.H
  src/python/distribution.cpp
Labels: component: space charge, component: tests

#493 Elements: `sincos(...)`
  src/particles/elements/CFbend.H
  src/particles/elements/ExactSbend.H
  src/particles/elements/PRot.H
  src/particles/elements/Sbend.H
  src/particles/elements/Sol.H
  src/python/elements.cpp
Labels: component: elements

#494 Python: `impactx.__version__`
  CMakeLists.txt
  src/python/pyImpactX.cpp
  tests/python/test_impactx.py
Labels: bug, bug: affects latest release, component: python

#490 Transverse Alignment Support
  docs/source/index.rst
  docs/source/usage/examples.rst
  docs/source/usage/parameters.rst
  docs/source/usage/python.rst
  examples/CMakeLists.txt
  examples/alignment/README.rst
  examples/alignment/analysis_alignment.py
  examples/alignment/input_alignment.in
  examples/alignment/run_alignment.py
  src/initialization/InitElement.cpp
  src/particles/elements/Aperture.H
  src/particles/elements/Buncher.H
  src/particles/elements/CFbend.H
  src/particles/elements/ChrDrift.H
  src/particles/elements/ChrQuad.H
  src/particles/elements/ChrUniformAcc.H
  src/particles/elements/ConstF.H
  src/particles/elements/DipEdge.H
  src/particles/elements/Drift.H
  src/particles/elements/ExactDrift.H
  src/particles/elements/ExactSbend.H
  src/particles/elements/Kicker.H
  src/particles/elements/Multipole.H
  src/particles/elements/NonlinearLens.H
  src/particles/elements/Quad.H
  src/particles/elements/RFCavity.H
  src/particles/elements/Sbend.H
  src/particles/elements/ShortRF.H
  src/particles/elements/SoftQuad.H
  src/particles/elements/SoftSol.H
  src/particles/elements/Sol.H
  src/particles/elements/ThinDipole.H
  src/particles/elements/mixin/alignment.H
  src/particles/elements/mixin/thick.H
  src/python/elements.cpp
Labels: component: elements

#496 Speed up CI tests
  examples/cyclotron/input_cyclotron.in
  examples/cyclotron/run_cyclotron.py
  examples/positron_channel/input_positron.in
Labels: component: tests

#498 initialize the distributions on the GPU
  docs/source/usage/python.rst
  examples/alignment/analysis_alignment.py
  examples/apochromatic/analysis_apochromatic.py
  examples/chicane/analysis_chicane.py
  examples/compression/analysis_compression.py
  examples/cyclotron/analysis_cyclotron.py
  examples/distgen/analysis_gaussian.py
  examples/distgen/analysis_kurth4d.py
  examples/distgen/analysis_semigaussian.py
  examples/expanding_beam/analysis_expanding.py
  examples/fodo/analysis_fodo.py
  examples/fodo_chromatic/analysis_fodo_chr.py
  examples/fodo_rf/analysis_fodo_rf.py
  examples/iota_lattice/analysis_iotalattice.py
  examples/iota_lattice/analysis_iotalattice_sdep.py
  examples/kurth/analysis_kurth_periodic.py
  examples/multipole/analysis_multipole.py
  examples/quadrupole_softedge/analysis_quadrupole_softedge.py
  examples/solenoid/analysis_solenoid.py
  src/initialization/InitDistribution.H
  src/initialization/InitDistribution.cpp
  src/particles/ImpactXParticleContainer.H
  src/particles/ImpactXParticleContainer.cpp
  src/particles/distribution/Gaussian.H
  src/particles/distribution/KVdist.H
  src/particles/distribution/Kurth4D.H
  src/particles/distribution/Kurth6D.H
  src/particles/distribution/None.H
  src/particles/distribution/Semigaussian.H
  src/particles/distribution/Thermal.H
  src/particles/distribution/Triangle.H
  src/particles/distribution/Waterbag.H
  src/python/ImpactXParticleContainer.cpp
Labels: backend: cuda, backend: dpc++, backend: hip, backend: openmp, Performance optimization

#497 Particle Container: Track s or t
  src/ImpactX.cpp
  src/particles/ImpactXParticleContainer.H
  src/particles/ImpactXParticleContainer.cpp
  src/particles/transformation/CoordinateTransformation.H
  src/particles/transformation/CoordinateTransformation.cpp
  src/python/ImpactXParticleContainer.cpp
  src/python/transformation.cpp
  tests/python/test_transformation.py
  tests/python/transformation.rst
Labels: component: core, component: python

#500 Release 24.01
  CMakeLists.txt
  cmake/dependencies/ABLASTR.cmake
  cmake/dependencies/pyAMReX.cmake
  docs/source/conf.py
  setup.py
  tests/python/test_charge_deposition.py
  tests/python/test_impactx.py
Labels: component: documentation, component: third party

#502 Py Propertes: Aperture, ChrQuad, ChrAcc
  docs/source/usage/python.rst
  src/particles/elements/Aperture.H
  src/particles/elements/ChrQuad.H
  src/particles/elements/ChrUniformAcc.H
  src/python/elements.cpp
Labels: component: documentation, component: elements, component: python

#505 CMake: `ImpactX_PYTHON_IPO`
  CMakeLists.txt
  docs/source/install/cmake.rst
Labels: component: documentation, enhancement, install

#507 Perlmutter (NERSC): January 2024 Update
  docs/source/install/hpc/perlmutter-nersc/install_cpu_dependencies.sh
  docs/source/install/hpc/perlmutter-nersc/install_gpu_dependencies.sh
  docs/source/install/hpc/perlmutter-nersc/perlmutter_cpu_impactx.profile.example
  docs/source/install/hpc/perlmutter-nersc/perlmutter_gpu_impactx.profile.example
Labels: component: documentation, machine / system

#509 AmrCore(Data): Make Member Variable
  src/ImpactX.H
  src/ImpactX.cpp
  src/initialization/AmrCoreData.H
  src/initialization/AmrCoreData.cpp
  src/initialization/AmrCoreData_fwd.H
  src/initialization/InitDistribution.cpp
  src/initialization/InitMeshRefinement.H
  src/initialization/InitMeshRefinement.cpp
  src/initialization/Validate.cpp
  src/main.cpp
  src/particles/ImpactXParticleContainer.H
  src/particles/ImpactXParticleContainer.cpp
  src/python/ImpactX.cpp
  tests/python/test_charge_deposition.py
Labels: component: core

#504 Fix: MPI-Distribution w/o SC
  docs/source/usage/parameters.rst
  docs/source/usage/python.rst
  examples/expanding_beam/analysis_expanding.py
  examples/expanding_beam/input_expanding.in
  examples/expanding_beam/run_expanding.py
  examples/kurth/input_kurth_periodic.in
  src/ImpactX.cpp
  src/initialization/InitAmrCore.cpp
  src/initialization/InitDistribution.cpp
  src/initialization/InitMeshRefinement.H
  src/initialization/InitMeshRefinement.cpp
  src/particles/ImpactXParticleContainer.cpp
  src/python/ImpactX.cpp
Labels: bug, bug: affects latest release, component: core

#510 Python: Clean CUDA Shutdown
  examples/alignment/run_alignment.py
  examples/aperture/run_aperture.py
  examples/apochromatic/run_apochromatic.py
  examples/cfbend/run_cfbend.py
  examples/cfbend/run_cfbend_madx.py
  examples/cfchannel/run_cfchannel.py
  examples/cfchannel/run_cfchannel_10nC.py
  examples/chicane/run_chicane.py
  examples/chicane/run_chicane_madx.py
  examples/compression/run_compression.py
  examples/cyclotron/run_cyclotron.py
  examples/epac2004_benchmarks/run_bithermal.py
  examples/epac2004_benchmarks/run_fodo_rf_SC.py
  examples/epac2004_benchmarks/run_thermal.py
  examples/expanding_beam/run_expanding.py
  examples/fodo/run_fodo.py
  examples/fodo/run_fodo_madx.py
  examples/fodo/run_fodo_programmable.py
  examples/fodo_chromatic/run_fodo_chr.py
  examples/fodo_rf/run_fodo_rf.py
  examples/iota_lattice/run_iotalattice.py
  examples/iota_lattice/run_iotalattice_sdep.py
  examples/iota_lens/run_iotalens.py
  examples/iota_lens/run_iotalens_sdep.py
  examples/kicker/run_hvkicker_madx.py
  examples/kicker/run_kicker.py
  examples/kicker/run_kicker_madx.py
  examples/kurth/run_kurth_10nC_periodic.py
  examples/kurth/run_kurth_periodic.py
  examples/multipole/run_multipole.py
  examples/positron_channel/run_positron.py
  examples/pytorch_surrogate_model/run_ml_surrogate.py
  examples/quadrupole_softedge/run_quadrupole_softedge.py
  examples/rfcavity/run_rfcavity.py
  examples/rotation/run_rotation.py
  examples/solenoid/run_solenoid.py
  examples/solenoid/run_solenoid_madx.py
  examples/solenoid_softedge/run_solenoid_softedge.py
  examples/thin_dipole/run_thin_dipole.py
  src/ImpactX.H
  src/ImpactX.cpp
  src/main.cpp
  src/python/ImpactX.cpp
  tests/python/CMakeLists.txt
  tests/python/conftest.py
  tests/python/test_charge_deposition.py
  tests/python/test_dataframe.py
  tests/python/test_impactx.py
  tests/python/test_push.py
  tests/python/test_transformation.py
Labels: bug, backend: cuda, bug: affects latest release, component: python
