Repository BLAST-ImpactX/impactx, pull requests merged in 2025-08, with the labels that each got.

#1002 CPU SIMD Support
  .github/workflows/dependencies/gcc.sh
  .github/workflows/ubuntu.yml
  CMakeLists.txt
  cmake/ImpactXFunctions.cmake
  cmake/dependencies/ABLASTR.cmake
  docs/source/install/cmake.rst
  docs/source/install/dependencies.rst
  setup.py
  src/elements/Aperture.H
  src/elements/Buncher.H
  src/elements/CFbend.H
  src/elements/ChrDrift.H
  src/elements/ChrPlasmaLens.H
  src/elements/ChrQuad.H
  src/elements/ChrUniformAcc.H
  src/elements/ConstF.H
  src/elements/DipEdge.H
  src/elements/Drift.H
  src/elements/Empty.H
  src/elements/ExactDrift.H
  src/elements/ExactMultipole.H
  src/elements/ExactQuad.H
  src/elements/ExactSbend.H
  src/elements/Kicker.H
  src/elements/LinearMap.H
  src/elements/Marker.H
  src/elements/Multipole.H
  src/elements/NonlinearLens.H
  src/elements/PRot.H
  src/elements/PlaneXYRot.H
  src/elements/Programmable.H
  src/elements/Quad.H
  src/elements/QuadEdge.H
  src/elements/RFCavity.H
  src/elements/Sbend.H
  src/elements/ShortRF.H
  src/elements/SoftQuad.H
  src/elements/SoftSol.H
  src/elements/Sol.H
  src/elements/TaperedPL.H
  src/elements/ThinDipole.H
  src/elements/mixin/alignment.H
  src/elements/mixin/beamoptic.H
  src/elements/mixin/pipeaperture.H
  src/initialization/InitElement.cpp
  src/particles/integrators/Integrators.H
  src/python/ImpactX.cpp
Labels: backend: openmp, component: elements, Performance optimization, tracking: particles

#1082 Dashboard: fix entry point
  src/python/impactx/dashboard/__main__.py
Labels: bug, bug: affects latest release, component: dashboard

#1072 Reuse Particle Chunking Logic
  src/ImpactX.H
  src/initialization/InitDistribution.cpp
  src/particles/CMakeLists.txt
  src/particles/ImpactXParticleContainer.cpp
  src/particles/SplitEqually.H
  src/particles/SplitEqually.cpp
Labels: backend: openmp, tracking: particles

#1087 Dashboard: add simple fix for type extraction
  src/python/impactx/dashboard/Input/defaults_helper.py
Labels: bug, component: dashboard

#1086 CMake: Examples w/o `examples-` Prefix
  examples/CMakeLists.txt
Labels: install, component: tests

#1066 Load PALS Lattice
  docs/source/install/dependencies.rst
  docs/source/usage/examples.rst
  docs/source/usage/python.rst
  examples/CMakeLists.txt
  examples/pals/README.rst
  examples/pals/analysis_fodo_pals.py
  examples/pals/fodo.pals.yaml
  examples/pals/run_fodo_pals.py
  requirements.txt
  src/python/impactx/extensions/KnownElementsList.py
Labels: component: elements, component: python

#1073 Expose Fast-Math Options (Default still OFF)
  CMakeLists.txt
  cmake/ImpactXFunctions.cmake
  cmake/dependencies/ABLASTR.cmake
  cmake/dependencies/pyAMReX.cmake
Labels: backend: cuda, backend: sycl, backend: hip, backend: openmp, Performance optimization

#1085 Release 25.08
  CMakeLists.txt
  cmake/dependencies/ABLASTR.cmake
  cmake/dependencies/pyAMReX.cmake
  docs/source/conf.py
  setup.py
Labels: component: documentation

#1092 SIMD: Portable Masks, C++20
  CMakeLists.txt
  src/elements/Aperture.H
  src/elements/QuadEdge.H
Labels: bug, backend: openmp, bug: affects latest release

#1093 SIMD: No Complex on Windows - Skip Multipole
  src/elements/ExactMultipole.H
  src/elements/Multipole.H
Labels: bug, backend: openmp, bug: affects latest release, machine / system, workaround

#1095 insert_element_every_ds in SP
  src/elements/transformation/Insert.cpp
Labels: component: diagnostics, workaround, component: elements

#1105 pyproject: isort only via ruff
  pyproject.toml
Labels: component: third party, component: tests, component: python

#1106 Fix `.pyi` files after pybind11 v3
  .github/update_stub.sh
  .pre-commit-config.yaml
  src/python/impactx/MADXParser.pyi
  src/python/impactx/__init__.pyi
  src/python/impactx/distribution_input_helpers.py
  src/python/impactx/distribution_input_helpers.pyi
  src/python/impactx/extensions/KnownElementsList.pyi
  src/python/impactx/extensions/__init__.pyi
  src/python/impactx/impactx_pybind/__init__.pyi
  src/python/impactx/impactx_pybind/distribution.pyi
  src/python/impactx/impactx_pybind/elements.pyi
  src/python/impactx/impactx_pybind/elements/__init__.pyi
  src/python/impactx/impactx_pybind/elements/mixin.pyi
  src/python/impactx/impactx_pybind/elements/transformation.pyi
  src/python/impactx/impactx_pybind/wakeconvolution.pyi
  src/python/impactx/madx_to_impactx.pyi
  src/python/impactx/plot/__init__.pyi
Labels: bug, bug: affects latest release, component: third party, component: python

#1094 test_charge_deposition: SP Tolerance
  tests/python/test_charge_deposition.py
Labels: component: tests

#1113 Envelope Tracking: No Mean or Dispersion
  src/initialization/InitDistribution.cpp
Labels: bug, bug: affects latest release, component: distributions, tracking: envelope
