Repository BLAST-ImpactX/impactx, pull requests merged in 2025-06, with the labels that each got.

#928 Dashboard: Relocate validation logic and defaults
  src/python/impactx/dashboard/Input/__init__.py
  src/python/impactx/dashboard/Input/defaults.py
  src/python/impactx/dashboard/Input/defaults_helper.py
  src/python/impactx/dashboard/Input/distributionParameters/distributionMain.py
  src/python/impactx/dashboard/Input/generalFunctions.py
  src/python/impactx/dashboard/Input/inputParameters/inputMain.py
  src/python/impactx/dashboard/Input/latticeConfiguration/latticeMain.py
  src/python/impactx/dashboard/Input/latticeConfiguration/variable_handler.py
  src/python/impactx/dashboard/Input/shared.py
  src/python/impactx/dashboard/Input/space_charge_configuration/spaceChargeFunctions.py
  src/python/impactx/dashboard/Input/space_charge_configuration/spaceChargeMain.py
  src/python/impactx/dashboard/Input/validation.py
Labels: component: dashboard

#989 CI: Windows 2019->2022
  .github/workflows/windows.yml
Labels: component: tests

#988 Python: `Marker` named `name` argument
  src/python/elements.cpp
Labels: component: elements, component: python

#992 CI: Fix ClangCl Python
  .github/workflows/windows.yml
Labels: machine / system, component: tests, component: python

#987 pytest-benchmark for all elements
  .github/workflows/codeql.yml
  .github/workflows/macos.yml
  README.md
  docs/source/developers/testing.rst
  docs/source/install/cmake.rst
  docs/source/install/dependencies.rst
  setup.py
  src/python/ImpactX.cpp
  tests/python/requirements.txt
  tests/python/test_benchmark_elements.py
Labels: Performance optimization, component: tests

#995 Ubuntu CI: Pre-Clean Disk Space
  .github/workflows/ubuntu.yml
Labels: machine / system, component: tests

#977 Dashboard: update dynamic tooltip messages
  src/python/impactx/dashboard/Input/components/card.py
  src/python/impactx/dashboard/Toolbar/controls.py
Labels: component: dashboard

#998 `sim.verbose` also AMReX
  src/python/ImpactX.cpp
Labels: component: python

#955 Dashboard: Add unit test
  .github/workflows/stubs.yml
  .github/workflows/tooling.yml
  .github/workflows/ubuntu.yml
  .github/workflows/windows.yml
  src/python/impactx/dashboard/Input/components/navigation.py
  src/python/impactx/dashboard/Input/distributionParameters/distributionMain.py
  src/python/impactx/dashboard/Input/generalFunctions.py
  src/python/impactx/dashboard/Input/latticeConfiguration/helper.py
  src/python/impactx/dashboard/Input/latticeConfiguration/latticeMain.py
  src/python/impactx/dashboard/Input/latticeConfiguration/variable_handler.py
  src/python/impactx/dashboard/Input/validation.py
  src/python/impactx/dashboard/Toolbar/controls.py
  src/python/impactx/dashboard/Toolbar/sim_history/dialogs.py
  tests/python/CMakeLists.txt
  tests/python/dashboard/__init__.py
  tests/python/dashboard/test_dashboard.py
  tests/python/dashboard/utils.py
  tests/python/requirements.txt
  tests/python/test_dataframe.py
  tests/python/test_xopt.py
Labels: component: dashboard

#980 Dashboard: refactor distribution files
  src/python/impactx/dashboard/Input/defaults.py
  src/python/impactx/dashboard/Input/distribution/__init__.py
  src/python/impactx/dashboard/Input/distribution/ui.py
  src/python/impactx/dashboard/Input/distribution/utils.py
  src/python/impactx/dashboard/Input/distributionParameters/__init__.py
  src/python/impactx/dashboard/Input/distributionParameters/distributionFunctions.py
  src/python/impactx/dashboard/Input/validation.py
  src/python/impactx/dashboard/Run/simulation.py
  src/python/impactx/dashboard/Toolbar/importParser.py
  src/python/impactx/dashboard/__init__.py
Labels: component: dashboard

#999 Python: `sim.omp_threads`
  docs/source/usage/python.rst
  src/python/ImpactX.cpp
  tests/python/test_impactx.py
Labels: component: python

#1007 Use amrex::Math::powi
  src/diagnostics/CovarianceMatrixMath.H
  src/diagnostics/EmittanceInvariants.cpp
  src/diagnostics/NonlinearLensInvariants.H
  src/elements/Aperture.H
  src/elements/Buncher.H
  src/elements/CFbend.H
  src/elements/ChrDrift.H
  src/elements/ChrPlasmaLens.H
  src/elements/ChrQuad.H
  src/elements/ChrUniformAcc.H
  src/elements/ConstF.H
  src/elements/DipEdge.H
  src/elements/Drift.H
  src/elements/ExactDrift.H
  src/elements/ExactMultipole.H
  src/elements/ExactQuad.H
  src/elements/ExactSbend.H
  src/elements/LinearMap.H
  src/elements/Multipole.H
  src/elements/NonlinearLens.H
  src/elements/PRot.H
  src/elements/Quad.H
  src/elements/QuadEdge.H
  src/elements/RFCavity.H
  src/elements/Sbend.H
  src/elements/ShortRF.H
  src/elements/SoftQuad.H
  src/elements/SoftSol.H
  src/elements/Sol.H
  src/elements/TaperedPL.H
  src/elements/ThinDipole.H
  src/elements/mixin/pipeaperture.H
  src/envelope/spacecharge/EnvelopeSpaceChargePush.cpp
  src/initialization/InitDistribution.cpp
  src/particles/ReferenceParticle.H
  src/particles/distribution/KVdist.H
  src/particles/distribution/Kurth4D.H
  src/particles/distribution/Kurth6D.H
  src/particles/distribution/Thermal.H
  src/particles/spacecharge/PoissonSolve.cpp
  src/particles/transformation/CoordinateTransformation.cpp
  src/particles/transformation/ToFixedS.H
  src/particles/transformation/ToFixedT.H
  src/particles/wakefields/ISRPush.cpp
  src/particles/wakefields/WakeConvolution.H
  src/particles/wakefields/WakeConvolution.cpp
Labels: Performance optimization

#1009 Fix chicane example plotting script
  examples/chicane/input_chicane.in
  examples/chicane/plot_chicane.py
  examples/chicane/run_chicane.py
Labels: component: tests

#1012 PyTest Conftest: Set Tiling
  src/particles/ImpactXParticleContainer.cpp
  tests/python/conftest.py
  tests/python/test_benchmark_elements.py
Labels: bug, backend: openmp, bug: affects latest release, Performance optimization, component: tests, component: python

#1011 PipeAperture Mix-In w/o Divisions
  src/elements/mixin/pipeaperture.H
Labels: component: elements, Performance optimization

#1014 Dashboard: Test python importing
  src/python/impactx/dashboard/Toolbar/file_imports/ui_populator.py
  tests/python/dashboard/conftest.py
  tests/python/dashboard/test_dashboard.py
  tests/python/dashboard/test_python_import.py
  tests/python/dashboard/testdata/example.py
  tests/python/dashboard/utils.py
Labels: bug, bug: affects latest release, component: tests, component: dashboard

#1017 Dashboard: Add test for lattice variable handler
  src/python/impactx/dashboard/Input/latticeConfiguration/variable_handler.py
  tests/python/dashboard/test_lattice_variable_handler.py
  tests/python/dashboard/utils.py
Labels: component: tests, component: dashboard
