Repository BLAST-ImpactX/impactx, pull requests merged in 2025-09, with the labels that each got.

#1124 `beam.clear()`: Reset Moment History
  src/particles/ImpactXParticleContainer.H
  src/particles/ImpactXParticleContainer.cpp
Labels: bug, bug: affects latest release, tracking: particles

#1097 Python: Load Arbitrary Particle Weight
  docs/source/usage/python.rst
  examples/initialize_from_array/analyze_from_array.py
  examples/initialize_from_array/run_from_array.py
  src/particles/ImpactXParticleContainer.H
  src/particles/ImpactXParticleContainer.cpp
  src/python/ImpactXParticleContainer.cpp
Labels: changes input scripts / defaults, component: python

#1138 Doc: Fix Title Warnings
  docs/source/usage/parameters.rst
Labels: component: documentation, component: elements, warning

#1142 Release 25.09
  CMakeLists.txt
  cmake/dependencies/ABLASTR.cmake
  cmake/dependencies/pyAMReX.cmake
  docs/source/conf.py
  setup.py
Labels: component: documentation

#1118 Dashboard: fix flaky CI
  .github/workflows/macos.yml
  .github/workflows/ubuntu.yml
  tests/python/CMakeLists.txt
  tests/python/dashboard/conftest.py
  tests/python/dashboard/test_dashboard.py
  tests/python/dashboard/test_lattice_variable_handler.py
  tests/python/dashboard/test_python_import.py
  tests/python/dashboard/utils.py
Labels: component: tests, component: dashboard

#1147 Add example of reference particle tracking
  examples/CMakeLists.txt
  examples/rfcavity/README.rst
  examples/rfcavity/analysis_rfcavity_ref_part.py
  examples/rfcavity/input_rfcavity_ref_part.in
  examples/rfcavity/run_rfcavity_ref_part.py
Labels: component: tests, tracking: reference orbit

#1030 ChrPlasmaLens element: Support k<0, and fix uninitialized-variable bug in tracking of reference particle
  docs/source/usage/examples.rst
  examples/CMakeLists.txt
  examples/active_plasma_lens/README.rst
  examples/active_plasma_lens/analysis_APL_ChrPlasmaLens.py
  examples/active_plasma_lens/analysis_APL_ChrPlasmaLens_defocusing.py
  examples/active_plasma_lens/analysis_APL_ChrPlasmaLens_focusing.py
  examples/active_plasma_lens/analysis_APL_ChrPlasmaLens_zero.py
  examples/active_plasma_lens/plot_APL_ChrPlasmaLens.py
  examples/active_plasma_lens/plot_APL_ChrPlasmaLens_analytical.py
  examples/active_plasma_lens/plot_APL_ChrPlasmaLens_defocusing.py
  examples/active_plasma_lens/plot_APL_ChrPlasmaLens_focusing.py
  examples/active_plasma_lens/plot_APL_ChrPlasmaLens_zero.py
  examples/active_plasma_lens/run_APL.py
  examples/active_plasma_lens/run_APL_ChrPlasmaLens_defocusing.py
  examples/active_plasma_lens/run_APL_ChrPlasmaLens_focusing.py
  examples/active_plasma_lens/run_APL_ChrPlasmaLens_zero.py
  examples/apochromatic/input_apochromatic_pl.in
  examples/apochromatic/run_apochromatic_pl.py
  src/elements/ChrPlasmaLens.H
Labels: bug, bug: affects latest release, component: elements

#1127 Gauss 3D Space Charge Pusher
  docs/source/usage/parameters.rst
  docs/source/usage/python.rst
  examples/CMakeLists.txt
  examples/fodo_space_charge/README.rst
  examples/fodo_space_charge/analysis_fodo_Gauss3D_sc.py
  examples/fodo_space_charge/input_fodo_Gauss3D_sc.in
  examples/fodo_space_charge/run_fodo_Gauss3D_sc.py
  src/initialization/Algorithms.H
  src/initialization/Algorithms.cpp
  src/particles/spacecharge/CMakeLists.txt
  src/particles/spacecharge/Gauss3dPush.H
  src/particles/spacecharge/Gauss3dPush.cpp
  src/particles/spacecharge/HandleSpacecharge.cpp
  src/python/ImpactX.cpp
  src/tracking/envelope.cpp
Labels: component: space charge, tracking: particles

#876 Dashboard: Add impactx examples
  src/python/impactx/dashboard/Input/utils.py
  src/python/impactx/dashboard/Toolbar/__init__.py
  src/python/impactx/dashboard/Toolbar/examples_loader/loader.py
  src/python/impactx/dashboard/Toolbar/general.py
  src/python/impactx/dashboard/Toolbar/input.py
Labels: component: dashboard

#1151 CI: Free Disk Space (CUDA)
  .github/workflows/cuda.yml
  cmake/ImpactXFunctions.cmake
Labels: backend: cuda, component: tests

#1150 Doc: Recent ImpactX Papers
  docs/source/acknowledge_us.rst
Labels: component: documentation

#1157 ABLASTR/WarpX: development
  cmake/dependencies/ABLASTR.cmake
Labels: dependencies
