Repository BLAST-ImpactX/impactx, pull requests merged in 2025-02, with the labels that each got.

#822 Triplet Example Plot: Pandas
  examples/optimize_triplet/plot_triplet.py
Labels: component: diagnostics, component: tests

#827 RTD: Fix GA Integration
  docs/requirements.txt
  docs/source/conf.py
Labels: bug, component: documentation, bug: affects latest release, component: third party

#785 Dashboard File Importing
  src/python/impactx/dashboard/Input/distributionParameters/distributionMain.py
  src/python/impactx/dashboard/Toolbar/exportTemplate.py
  src/python/impactx/dashboard/Toolbar/importParser.py
  src/python/impactx/dashboard/Toolbar/importParserHelper.py
  src/python/impactx/dashboard/Toolbar/toolbarMain.py
Labels: component: dashboard

#833 Python: Do not Overwrite `PC::Redistribute`
  src/python/ImpactXParticleContainer.cpp
Labels: bug, bug: affects latest release, component: python

#832 Fix: SEdge in Envelope Mode
  src/tracking/envelope.cpp
Labels: bug, tracking: envelope

#837 Dashboard: Simplify imports
  src/python/impactx/dashboard/Analyze/__init__.py
  src/python/impactx/dashboard/Analyze/analyzeFunctions.py
  src/python/impactx/dashboard/Analyze/plotsMain.py
  src/python/impactx/dashboard/Input/__init__.py
  src/python/impactx/dashboard/Input/components.py
  src/python/impactx/dashboard/Input/csrConfiguration/csrMain.py
  src/python/impactx/dashboard/Input/distributionParameters/__init__.py
  src/python/impactx/dashboard/Input/distributionParameters/distributionFunctions.py
  src/python/impactx/dashboard/Input/distributionParameters/distributionMain.py
  src/python/impactx/dashboard/Input/generalFunctions.py
  src/python/impactx/dashboard/Input/inputParameters/__init__.py
  src/python/impactx/dashboard/Input/inputParameters/inputFunctions.py
  src/python/impactx/dashboard/Input/inputParameters/inputMain.py
  src/python/impactx/dashboard/Input/latticeConfiguration/latticeMain.py
  src/python/impactx/dashboard/Input/space_charge_configuration/__init__.py
  src/python/impactx/dashboard/Input/space_charge_configuration/spaceChargeFunctions.py
  src/python/impactx/dashboard/Input/space_charge_configuration/spaceChargeMain.py
  src/python/impactx/dashboard/Run/controls.py
  src/python/impactx/dashboard/Toolbar/controls.py
  src/python/impactx/dashboard/Toolbar/exportTemplate.py
  src/python/impactx/dashboard/Toolbar/importParser.py
  src/python/impactx/dashboard/__init__.py
  src/python/impactx/dashboard/__main__.py
  src/python/impactx/dashboard/simulation.py
  src/python/impactx/dashboard/start.py
Labels: component: dashboard

#835 Doc: Fix RST Syntax
  docs/source/install/hpc/lumi.rst
  docs/source/usage/how_to_run.rst
  docs/source/usage/parameters.rst
  docs/source/usage/workflows/add_element.rst
  examples/kurth/README.rst
Labels: bug, component: documentation, bug: affects latest release

#834 Utilize shared state in dashboard
  src/python/impactx/dashboard/Input/components.py
  src/python/impactx/dashboard/Input/csrConfiguration/csrMain.py
  src/python/impactx/dashboard/Input/inputParameters/inputMain.py
  src/python/impactx/dashboard/Input/shared.py
  src/python/impactx/dashboard/__main__.py
Labels: component: dashboard

#838 Doc: How-To Update
  docs/source/index.rst
  docs/source/usage/howto.rst
  docs/source/usage/howto/add_element.rst
  docs/source/usage/workflows.rst
  examples/fodo_userdef/README.rst
Labels: component: documentation

#840 Fix `beam.units = static`
  src/initialization/InitDistribution.cpp
Labels: bug, bug: affects latest release, component: distributions

#820 openPMD Beam Input via `Source` Element
  docs/source/usage/examples.rst
  docs/source/usage/parameters.rst
  docs/source/usage/python.rst
  examples/CMakeLists.txt
  examples/solenoid_restart/README.rst
  examples/solenoid_restart/analysis_solenoid.py
  examples/solenoid_restart/input_solenoid.in
  examples/solenoid_restart/run_solenoid.py
  src/elements/All.H
  src/elements/CMakeLists.txt
  src/elements/Source.H
  src/elements/Source.cpp
  src/elements/diagnostics/AdditionalProperties.cpp
  src/elements/diagnostics/BeamMonitor.H
  src/elements/diagnostics/BeamMonitor.cpp
  src/elements/diagnostics/CMakeLists.txt
  src/elements/diagnostics/openPMD.H
  src/elements/diagnostics/openPMD.cpp
  src/initialization/InitDistribution.cpp
  src/initialization/InitElement.cpp
  src/initialization/Validate.cpp
  src/python/elements.cpp
Labels: component: elements, component: distributions

#843 Dashboard: Add tooltips
  src/python/impactx/dashboard/Input/components.py
  src/python/impactx/dashboard/Input/defaults.py
  src/python/impactx/dashboard/Input/defaults_helper.py
  src/python/impactx/dashboard/__init__.py
Labels: component: documentation, component: space charge, component: distributions, component: CSR, component: dashboard

#845 Release 25.02
  CMakeLists.txt
  cmake/dependencies/ABLASTR.cmake
  cmake/dependencies/pyAMReX.cmake
  docs/source/conf.py
  setup.py
Labels: component: documentation

#836 Dashboard: Add documentation sidebar
  src/python/impactx/dashboard/Input/components.py
  src/python/impactx/dashboard/Input/defaults.py
  src/python/impactx/dashboard/Input/generalFunctions.py
  src/python/impactx/dashboard/__init__.py
  src/python/impactx/dashboard/__main__.py
Labels: component: dashboard

#842 Introduce `HandleSpacecharge`
  src/particles/spacecharge/CMakeLists.txt
  src/particles/spacecharge/ForceFromSelfFields.H
  src/particles/spacecharge/ForceFromSelfFields.cpp
  src/particles/spacecharge/GatherAndPush.H
  src/particles/spacecharge/GatherAndPush.cpp
  src/particles/spacecharge/HandleSpacecharge.H
  src/particles/spacecharge/HandleSpacecharge.cpp
  src/particles/spacecharge/PoissonSolve.H
  src/particles/spacecharge/PoissonSolve.cpp
  src/tracking/particles.cpp
Labels: component: space charge

#854 Fix `t` in `CFbend`
  src/elements/CFbend.H
Labels: bug, bug: affects latest release, component: elements

#858 Dashboard: Add missing copyright headers
  src/python/impactx/dashboard/Input/components.py
  src/python/impactx/dashboard/Input/csrConfiguration/csrMain.py
  src/python/impactx/dashboard/Input/defaults.py
  src/python/impactx/dashboard/Input/defaults_helper.py
  src/python/impactx/dashboard/Input/distributionParameters/distributionFunctions.py
  src/python/impactx/dashboard/Input/shared.py
  src/python/impactx/dashboard/Input/space_charge_configuration/spaceChargeFunctions.py
  src/python/impactx/dashboard/Input/space_charge_configuration/spaceChargeMain.py
  src/python/impactx/dashboard/Run/controls.py
  src/python/impactx/dashboard/Toolbar/exportTemplate.py
  src/python/impactx/dashboard/Toolbar/importParser.py
  src/python/impactx/dashboard/Toolbar/importParserHelper.py
Labels: component: dashboard

#857 Dashboard: Relocate plot functionality
  src/python/impactx/dashboard/Analyze/__init__.py
  src/python/impactx/dashboard/Analyze/plotsMain.py
  src/python/impactx/dashboard/simulation.py
Labels: component: dashboard

#855 Dashboard: Improve UI for Inputs
  src/python/impactx/dashboard/Input/__init__.py
  src/python/impactx/dashboard/Input/components.py
  src/python/impactx/dashboard/Input/csrConfiguration/csrMain.py
  src/python/impactx/dashboard/Input/defaults.py
  src/python/impactx/dashboard/Input/distributionParameters/distributionMain.py
  src/python/impactx/dashboard/Input/inputParameters/inputMain.py
  src/python/impactx/dashboard/Input/latticeConfiguration/__init__.py
  src/python/impactx/dashboard/Input/latticeConfiguration/helper.py
  src/python/impactx/dashboard/Input/latticeConfiguration/latticeMain.py
  src/python/impactx/dashboard/Input/shared.py
  src/python/impactx/dashboard/Input/space_charge_configuration/spaceChargeMain.py
  src/python/impactx/dashboard/Input/style.css
  src/python/impactx/dashboard/Toolbar/controls.py
  src/python/impactx/dashboard/__main__.py
Labels: component: dashboard

#861 Add `ImpactX_UNITY_BUILD`
  .github/workflows/ubuntu.yml
  CMakeLists.txt
  cmake/ImpactXFunctions.cmake
  docs/source/install/cmake.rst
  src/initialization/InitElement.cpp
Labels: install

#859 Refactor Dashboard: Components
  src/python/impactx/dashboard/Input/__init__.py
  src/python/impactx/dashboard/Input/components.py
  src/python/impactx/dashboard/Input/components/__init__.py
  src/python/impactx/dashboard/Input/components/card.py
  src/python/impactx/dashboard/Input/components/input.py
  src/python/impactx/dashboard/Input/components/navigation.py
  src/python/impactx/dashboard/Input/inputParameters/inputMain.py
  src/python/impactx/dashboard/Input/latticeConfiguration/helper.py
  src/python/impactx/dashboard/Input/latticeConfiguration/latticeMain.py
  src/python/impactx/dashboard/Input/space_charge_configuration/spaceChargeFunctions.py
  src/python/impactx/dashboard/Input/space_charge_configuration/spaceChargeMain.py
  src/python/impactx/dashboard/__init__.py
Labels: component: dashboard

#850 Make Linear Elements Fast
  src/elements/Aperture.H
  src/elements/Buncher.H
  src/elements/CFbend.H
  src/elements/ChrDrift.H
  src/elements/ChrPlasmaLens.H
  src/elements/ChrQuad.H
  src/elements/ChrUniformAcc.H
  src/elements/ConstF.H
  src/elements/DipEdge.H
  src/elements/Drift.H
  src/elements/Empty.H
  src/elements/ExactDrift.H
  src/elements/ExactSbend.H
  src/elements/Kicker.H
  src/elements/LinearMap.H
  src/elements/Marker.H
  src/elements/Multipole.H
  src/elements/NonlinearLens.H
  src/elements/PRot.H
  src/elements/PlaneXYRot.H
  src/elements/Quad.H
  src/elements/RFCavity.H
  src/elements/Sbend.H
  src/elements/ShortRF.H
  src/elements/SoftQuad.H
  src/elements/SoftSol.H
  src/elements/Sol.H
  src/elements/ThinDipole.H
  src/elements/mixin/alignment.H
  src/elements/mixin/beamoptic.H
Labels: component: elements, Performance optimization, tracking: particles
