Repository BLAST-ImpactX/impactx, pull requests merged in 2025-04, with the labels that each got.

#917 Dashboard: Simulation Progress
  src/python/impactx/dashboard/Analyze/__init__.py
  src/python/impactx/dashboard/Analyze/plot_PhaseSpaceProjections/phaseSpaceSettings.py
  src/python/impactx/dashboard/Analyze/plotsMain.py
  src/python/impactx/dashboard/Input/distributionParameters/distributionMain.py
  src/python/impactx/dashboard/Input/latticeConfiguration/latticeMain.py
  src/python/impactx/dashboard/Run/__init__.py
  src/python/impactx/dashboard/Run/controls.py
  src/python/impactx/dashboard/Run/executor.py
  src/python/impactx/dashboard/Run/simulation.py
  src/python/impactx/dashboard/Run/utils.py
  src/python/impactx/dashboard/Toolbar/controls.py
  src/python/impactx/dashboard/requirements.txt
  src/python/impactx/dashboard/simulation.py
Labels: component: dashboard

#932 Fix multislice t-update in ExactSbend.
  src/elements/ExactSbend.H
Labels: bug: affects latest release, component: elements

#812 Profiler: Charge Deposition
  src/particles/ChargeDeposition.cpp
  src/particles/spacecharge/PoissonSolve.cpp
  src/particles/transformation/CoordinateTransformation.cpp
Labels: component: space charge

#927 Dashboard: Add Simulation History
  src/python/impactx/dashboard/Input/components/card.py
  src/python/impactx/dashboard/Input/components/input.py
  src/python/impactx/dashboard/Input/style.css
  src/python/impactx/dashboard/Run/executor.py
  src/python/impactx/dashboard/Run/utils.py
  src/python/impactx/dashboard/Toolbar/controls.py
  src/python/impactx/dashboard/Toolbar/importParser.py
  src/python/impactx/dashboard/Toolbar/sim_history/__init__.py
  src/python/impactx/dashboard/Toolbar/sim_history/components.py
  src/python/impactx/dashboard/Toolbar/sim_history/custom.js
  src/python/impactx/dashboard/Toolbar/sim_history/dialogs.py
  src/python/impactx/dashboard/Toolbar/sim_history/ui.py
  src/python/impactx/dashboard/__main__.py
Labels: component: dashboard

#926 Add an exact nonlinear quadrupole
  docs/source/usage/examples.rst
  docs/source/usage/parameters.rst
  docs/source/usage/python.rst
  examples/CMakeLists.txt
  examples/fodo/README.rst
  examples/fodo/analysis_fodo_exact.py
  examples/fodo/input_fodo_exact.in
  examples/fodo/run_fodo_exact.py
  examples/symplectic_integration/README.rst
  examples/symplectic_integration/analysis_exact_quad.py
  examples/symplectic_integration/input_exact_quad.in
  examples/symplectic_integration/run_exact_quad.py
  src/elements/All.H
  src/elements/ExactQuad.H
  src/initialization/InitElement.cpp
  src/particles/integrators/Integrators.H
  src/python/elements.cpp
Labels: component: elements

#944 Dashboard: Correct import path for CLI entry point
  src/python/impactx/dashboard/Input/distributionParameters/distributionMain.py
Labels: component: dashboard

#943 Dashboard: Add inputs for `tracking modes` and space charge dropdown for `2D/3D`
  src/python/impactx/dashboard/Input/components/input.py
  src/python/impactx/dashboard/Input/defaults.py
  src/python/impactx/dashboard/Input/inputParameters/inputMain.py
  src/python/impactx/dashboard/Input/space_charge_configuration/spaceChargeMain.py
  src/python/impactx/dashboard/Run/simulation.py
  src/python/impactx/dashboard/__main__.py
Labels: component: dashboard

#945 Change the default 3D Poisson solver to FFT.
  docs/source/usage/parameters.rst
  docs/source/usage/python.rst
  examples/cfchannel/input_cfchannel_10nC_mlmg.in
  examples/cfchannel/run_cfchannel_10nC_mlmg.py
  examples/epac2004_benchmarks/input_fodo_rf_SC.in
  examples/epac2004_benchmarks/run_fodo_rf_SC.py
  examples/expanding_beam/input_expanding_mlmg.in
  examples/expanding_beam/run_expanding_mlmg.py
  examples/kurth/input_kurth_10nC_periodic.in
  examples/kurth/run_kurth_10nC_periodic.py
  src/initialization/InitMeshRefinement.H
  src/initialization/InitMeshRefinement.cpp
Labels: changes input scripts / defaults

#947 Documentation: Change lambda to sigma in example README docs.
  examples/cfbend/README.rst
  examples/chicane/README.rst
  examples/chicane/README_csr.rst
  examples/chicane/README_isr.rst
  examples/coupled_optics/README.rst
  examples/distgen/README.rst
  examples/dogleg/README.rst
  examples/fodo/README.rst
  examples/fodo_rf/README.rst
  examples/fodo_space_charge/README.rst
  examples/fodo_userdef/README.rst
  examples/iota_lens/README.rst
  examples/kicker/README.rst
  examples/kurth/README.rst
  examples/rfcavity/README.rst
  examples/symplectic_integration/README.rst
Labels: component: documentation

#948 pyproject: CMake 4 is fine
  pyproject.toml
Labels: install, component: python

#951 Dashboard: Add ISR to inputs
  src/python/impactx/dashboard/Input/components/input.py
  src/python/impactx/dashboard/Input/defaults.py
  src/python/impactx/dashboard/Input/inputParameters/inputMain.py
  src/python/impactx/dashboard/Input/isr/__init__.py
  src/python/impactx/dashboard/Input/isr/ui.py
  src/python/impactx/dashboard/Run/simulation.py
  src/python/impactx/dashboard/Toolbar/importParser.py
  src/python/impactx/dashboard/__init__.py
  src/python/impactx/dashboard/__main__.py
Labels: component: dashboard

#949 Dashboard: Fix errors
  src/python/impactx/dashboard/Input/components/card.py
  src/python/impactx/dashboard/Input/defaults.py
  src/python/impactx/dashboard/Input/generalFunctions.py
  src/python/impactx/dashboard/Input/latticeConfiguration/helper.py
  src/python/impactx/dashboard/Input/latticeConfiguration/latticeMain.py
  src/python/impactx/dashboard/Input/latticeConfiguration/variable_handler.py
  src/python/impactx/dashboard/Run/simulation.py
Labels: component: dashboard

#935 Use signed rigidity.
  docs/source/usage/examples.rst
  examples/CMakeLists.txt
  examples/charge_sign/README.rst
  examples/charge_sign/analysis_charge_sign.py
  examples/charge_sign/input_charge_sign.in
  examples/charge_sign/run_charge_sign.py
  examples/linac_segment/input_linac_segment.in
  examples/linac_segment/run_linac_segment.py
  examples/symplectic_integration/input_exact_quad.in
  examples/symplectic_integration/run_exact_quad.py
  src/elements/ExactSbend.H
  src/particles/ReferenceParticle.H
Labels: changes input scripts / defaults
