Repository BLAST-ImpactX/impactx, pull requests merged in 2025-03, with the labels that each got.

#863 Fix HIP CI Version
  .github/workflows/dependencies/hip-openmpi.sh
  .github/workflows/hip.yml
Labels: bug, backend: hip, component: tests

#869 CI: Ubuntu 22.04+
  .github/workflows/cuda.yml
  .github/workflows/dependencies/nvcc11-openmpi.sh
  docs/source/install/dependencies.rst
Labels: backend: cuda, component: tests

#862 Split up particles over multiple tiles for OpenMP
  examples/fodo_programmable/run_fodo_programmable.py
  src/ImpactX.cpp
  src/particles/ImpactXParticleContainer.H
  src/particles/ImpactXParticleContainer.cpp
Labels: bug, backend: openmp, bug: affects latest release, tracking: particles

#871 Python: Set `max_grid_size` w/ BF
  src/python/ImpactX.cpp
Labels: bug, bug: affects latest release, component: space charge

#870 BeamMonitor: No BP5 Group Based
  docs/source/usage/parameters.rst
  docs/source/usage/python.rst
  src/elements/diagnostics/BeamMonitor.H
  src/elements/diagnostics/BeamMonitor.cpp
Labels: bug, bug: affects latest release, component: third party, component: diagnostics

#865 Dashboard: Migrate to vue3
  src/python/impactx/dashboard/Analyze/analyzeFunctions.py
  src/python/impactx/dashboard/Analyze/plotsMain.py
  src/python/impactx/dashboard/Input/components/card.py
  src/python/impactx/dashboard/Input/components/input.py
  src/python/impactx/dashboard/Input/components/navigation.py
  src/python/impactx/dashboard/Input/csrConfiguration/csrMain.py
  src/python/impactx/dashboard/Input/defaults.py
  src/python/impactx/dashboard/Input/distributionParameters/distributionMain.py
  src/python/impactx/dashboard/Input/inputParameters/inputMain.py
  src/python/impactx/dashboard/Input/latticeConfiguration/helper.py
  src/python/impactx/dashboard/Input/latticeConfiguration/latticeMain.py
  src/python/impactx/dashboard/Input/shared.py
  src/python/impactx/dashboard/Input/space_charge_configuration/spaceChargeFunctions.py
  src/python/impactx/dashboard/Input/space_charge_configuration/spaceChargeMain.py
  src/python/impactx/dashboard/Toolbar/controls.py
  src/python/impactx/dashboard/__init__.py
  src/python/impactx/dashboard/__main__.py
  src/python/impactx/dashboard/trame_setup.py
Labels: component: dashboard

#874 Correct units in thin multipole documentation.
  docs/source/usage/parameters.rst
  docs/source/usage/python.rst
Labels: bug, component: documentation, bug: affects latest release, component: elements

#873 Python: `setuptools[core]`
  .github/workflows/dependencies/clang-san-openmpi.sh
  .github/workflows/dependencies/clang-tidy.sh
  .github/workflows/dependencies/gcc-openmpi.sh
  .github/workflows/dependencies/gcc.sh
  .github/workflows/macos.yml
  .github/workflows/windows.yml
  README.md
  docs/source/developers/testing.rst
  docs/source/install/cmake.rst
  docs/source/install/hpc/lumi-csc/install_cpu_dependencies.sh
  docs/source/install/hpc/lumi-csc/install_gpu_dependencies.sh
  docs/source/install/hpc/perlmutter-nersc/install_cpu_dependencies.sh
  docs/source/install/hpc/perlmutter-nersc/install_gpu_dependencies.sh
Labels: bug, bug: affects latest release, install, component: python

#878 `BeamMonitor`: Basic ParaView Support
  src/elements/diagnostics/BeamMonitor.cpp
Labels: component: third party, component: diagnostics, component: elements

#881 Examples: Update `track_particles()`
  examples/aperture/run_aperture_periodic.py
  examples/fodo_userdef/run_fodo_userdef.py
  examples/linear_map/run_map.py
Labels: component: tests, component: python, warning

#880 Surrogate Example: Fix LaTeX String
  examples/pytorch_surrogate_model/visualize_ml_surrogate_15_stage.py
Labels: component: tests, component: python, warning

#889 `setup.py`: Complete Dependency Control
  setup.py
Labels: install, component: python

#890 Fix: AMReX External Target
  cmake/dependencies/ABLASTR.cmake
Labels: bug, bug: affects latest release, install, component: python

#891 Fix numpy ODR
  src/python/WakeConvolution.cpp
  src/python/pyImpactX.H
Labels: bug, bug: affects latest release, component: python

#879 Python Elements: `.to_dict()`
  docs/source/usage/python.rst
  src/elements/Empty.H
  src/elements/Multipole.H
  src/elements/diagnostics/BeamMonitor.H
  src/python/elements.cpp
Labels: component: elements, component: python

#892 Repos Moved: WarpX & ImpactX
  .github/workflows/stubs.yml
  CONTRIBUTING.rst
  README.md
  cmake/dependencies/ABLASTR.cmake
  docs/doxygen/main.dox
  docs/source/acknowledge_us.rst
  docs/source/developers/repo_organization.rst
  docs/source/index.rst
  docs/source/install/cmake.rst
  docs/source/install/dependencies.rst
  docs/source/install/hpc.rst
  docs/source/install/hpc/lumi.rst
  docs/source/install/hpc/perlmutter.rst
  docs/source/install/users.rst
  docs/source/maintenance/release.rst
  docs/source/usage/dashboard.rst
  docs/source/usage/howto/add_element.rst
  docs/source/usage/parameters.rst
  docs/source/usage/python.rst
  examples/pytorch_surrogate_model/run_ml_surrogate_15_stage.py
  setup.py
  src/initialization/InitMeshRefinement.cpp
  src/initialization/Validate.cpp
  src/particles/ChargeDeposition.cpp
  src/particles/wakefields/ChargeBinning.cpp
Labels: component: documentation

#866 Add 3D space charge for envelope tracking (uncoupled)
  docs/source/usage/how_to_run.rst
  docs/source/usage/parameters.rst
  docs/source/usage/python.rst
  examples/CMakeLists.txt
  examples/epac2004_benchmarks/analysis_fodo_rf_SC_envelope.py
  examples/epac2004_benchmarks/input_fodo_rf_SC_envelope.in
  examples/epac2004_benchmarks/run_fodo_rf_SC_envelope.py
  examples/expanding_beam/analysis_expanding_envelope.py
  examples/expanding_beam/input_expanding_envelope.in
  examples/expanding_beam/run_expanding_envelope.py
  examples/kurth/analysis_kurth_10nC_periodic_envelope.py
  examples/kurth/input_kurth_10nC_periodic_envelope.in
  examples/kurth/run_kurth_10nC_periodic_envelope.py
  src/diagnostics/ReducedBeamCharacteristics.cpp
  src/elements/ConstF.H
  src/elements/RFCavity.H
  src/envelope/spacecharge/CMakeLists.txt
  src/envelope/spacecharge/Elliptic_Integral.H
  src/envelope/spacecharge/Elliptic_Integral.cpp
  src/envelope/spacecharge/EnvelopeSpaceChargePush.H
  src/envelope/spacecharge/EnvelopeSpaceChargePush.cpp
  src/initialization/InitDistribution.cpp
  src/tracking/envelope.cpp
Labels: component: space charge, tracking: envelope

#895 Document our PyPI Package
  docs/source/install/users.rst
Labels: component: documentation, install

#896 Python: TinyProfiler Control
  docs/source/usage/python.rst
  examples/optimize_triplet/run_triplet.py
  src/python/ImpactX.cpp
Labels: component: python

#877 Lattice Helper: `insert_element_every_ds`
  docs/source/usage/python.rst
  src/ImpactX.cpp
  src/elements/CMakeLists.txt
  src/elements/transformation/CMakeLists.txt
  src/elements/transformation/Insert.H
  src/elements/transformation/Insert.cpp
  src/python/elements.cpp
  src/tracking/envelope.cpp
  src/tracking/particles.cpp
  src/tracking/reference.cpp
  tests/python/test_lattice_insert.py
Labels: enhancement, component: elements

#902 PyTorch Example: HDF5
  examples/pytorch_surrogate_model/analyze_ml_surrogate_15_stage.py
  examples/pytorch_surrogate_model/run_ml_surrogate_15_stage.py
  examples/pytorch_surrogate_model/visualize_ml_surrogate_15_stage.py
Labels: component: tests

#900 Release 25.03
  CMakeLists.txt
  cmake/dependencies/ABLASTR.cmake
  cmake/dependencies/pyAMReX.cmake
  docs/source/conf.py
  setup.py
Labels: component: documentation

#906 Examples: No `del` Needed
  examples/fodo_tune/run_fodo_tune.py
  examples/pytorch_surrogate_model/run_ml_surrogate_15_stage.py
  tests/python/test_transformation.py
Labels: component: tests

#913 CSR Chicane: Relax Tolerance
  examples/chicane/analysis_chicane_csr.py
Labels: backend: cuda, component: tests, component: CSR

#914 Docs: Fix HTML5 for Install Logos
  docs/source/install/users.rst
Labels: bug, component: documentation

#910 Tests: `amrex.the_arena_init_size=0`
  examples/CMakeLists.txt
  tests/python/conftest.py
Labels: backend: cuda, backend: sycl, backend: hip, component: tests

#912 Fix CUDA Shutdown of Element Dynamic Data
  src/elements/RFCavity.H
  src/elements/SoftQuad.H
  src/elements/SoftSol.H
Labels: bug, backend: cuda, backend: sycl, backend: hip, bug: affects latest release, component: elements

#915 Fix CUDA Shutdown Thermal Distribution
  src/particles/distribution/Thermal.H
Labels: bug, backend: cuda, backend: sycl, backend: hip, bug: affects latest release

#907 Update FODO plotting script.
  examples/fodo/plot_fodo.py
Labels: component: documentation, component: tests

#919 Treat zero-field special case in bending dipoles
  docs/source/usage/examples.rst
  examples/CMakeLists.txt
  examples/reversibility/README.rst
  examples/reversibility/analysis_zero_bend_inverse.py
  examples/reversibility/input_zero_bend_inverse.in
  examples/reversibility/run_zero_bend_inverse.py
  src/elements/ExactSbend.H
  src/elements/Sbend.H
Labels: component: elements
