Repository BLAST-ImpactX/impactx, pull requests merged in 2025-07, with the labels that each got.

#1023 Dashboard: Update selector for over-s plot
  src/python/impactx/dashboard/Analyze/over_s/plot.py
  src/python/impactx/dashboard/Analyze/over_s/selector/__init__.py
  src/python/impactx/dashboard/Analyze/over_s/selector/components.py
  src/python/impactx/dashboard/Analyze/over_s/selector/ui.py
  src/python/impactx/dashboard/Analyze/over_s/utils.py
  src/python/impactx/dashboard/Analyze/ui.py
Labels: component: dashboard

#1025 Python: Interactive/In Situ Beam History
  docs/source/usage/python.rst
  src/particles/ImpactXParticleContainer.H
  src/particles/ImpactXParticleContainer.cpp
  src/python/ImpactXParticleContainer.cpp
  src/python/impactx/extensions/ImpactXParticleContainer.py
  src/tracking/particles.cpp
  tests/python/test_dataframe.py
Labels: component: python

#1028 Dashboard: allow to load outputs from history
  src/python/impactx/dashboard/Analyze/over_s/utils.py
  src/python/impactx/dashboard/Run/utils.py
  src/python/impactx/dashboard/Toolbar/analyze.py
  src/python/impactx/dashboard/Toolbar/file_imports/python/parser.py
  src/python/impactx/dashboard/Toolbar/general.py
  src/python/impactx/dashboard/Toolbar/sim_history/dialogs.py
  src/python/impactx/dashboard/Toolbar/sim_history/ui.py
  tests/python/dashboard/test_lattice_variable_handler.py
Labels: component: dashboard

#1029 Reset Particle Container
  docs/source/usage/python.rst
  src/particles/ImpactXParticleContainer.H
  src/particles/ImpactXParticleContainer.cpp
  src/particles/ReferenceParticle.H
  src/python/ImpactXParticleContainer.cpp
  src/python/ReferenceParticle.cpp
  tests/python/test_impactx.py
Labels: component: python

#1032 Dashboard: Centralize Server Instance
  src/python/impactx/dashboard/Analyze/over_s/plot.py
  src/python/impactx/dashboard/Analyze/over_s/selector/components.py
  src/python/impactx/dashboard/Analyze/over_s/selector/ui.py
  src/python/impactx/dashboard/Analyze/over_s/utils.py
  src/python/impactx/dashboard/Analyze/ui.py
  src/python/impactx/dashboard/Input/components/card.py
  src/python/impactx/dashboard/Input/components/input.py
  src/python/impactx/dashboard/Input/components/navigation.py
  src/python/impactx/dashboard/Input/csrConfiguration/csrMain.py
  src/python/impactx/dashboard/Input/defaults.py
  src/python/impactx/dashboard/Input/distribution/ui.py
  src/python/impactx/dashboard/Input/distribution/utils.py
  src/python/impactx/dashboard/Input/generalFunctions.py
  src/python/impactx/dashboard/Input/inputParameters/inputFunctions.py
  src/python/impactx/dashboard/Input/inputParameters/inputMain.py
  src/python/impactx/dashboard/Input/isr/ui.py
  src/python/impactx/dashboard/Input/latticeConfiguration/helper.py
  src/python/impactx/dashboard/Input/latticeConfiguration/latticeMain.py
  src/python/impactx/dashboard/Input/latticeConfiguration/variable_handler.py
  src/python/impactx/dashboard/Input/shared.py
  src/python/impactx/dashboard/Input/space_charge_configuration/spaceChargeFunctions.py
  src/python/impactx/dashboard/Input/space_charge_configuration/spaceChargeMain.py
  src/python/impactx/dashboard/Input/validation.py
  src/python/impactx/dashboard/Input/visualization/lattice/statistics.py
  src/python/impactx/dashboard/Input/visualization/lattice/ui.py
  src/python/impactx/dashboard/Run/executor.py
  src/python/impactx/dashboard/Run/simulation.py
  src/python/impactx/dashboard/Run/utils.py
  src/python/impactx/dashboard/Toolbar/analyze.py
  src/python/impactx/dashboard/Toolbar/file_imports/python/parser.py
  src/python/impactx/dashboard/Toolbar/file_imports/ui_populator.py
  src/python/impactx/dashboard/Toolbar/general.py
  src/python/impactx/dashboard/Toolbar/input.py
  src/python/impactx/dashboard/Toolbar/run.py
  src/python/impactx/dashboard/Toolbar/sim_history/__init__.py
  src/python/impactx/dashboard/Toolbar/sim_history/components.py
  src/python/impactx/dashboard/Toolbar/sim_history/dialogs.py
  src/python/impactx/dashboard/Toolbar/sim_history/ui.py
  src/python/impactx/dashboard/__init__.py
  src/python/impactx/dashboard/app.py
  src/python/impactx/dashboard/start.py
Labels: component: dashboard

#1037 Doc: When to Use Which Element Model
  docs/source/theory/assumptions.rst
Labels: component: documentation, component: elements

#1038 Fix Quad Transport Map w/ Slicing and Zero Fields
  src/elements/Quad.H
Labels: bug, bug: affects latest release, component: elements, tracking: envelope

#1039 Div 2 is * 0.5
  src/diagnostics/CovarianceMatrixMath.H
  src/diagnostics/EmittanceInvariants.cpp
  src/elements/Aperture.H
  src/elements/ChrUniformAcc.H
  src/elements/RFCavity.H
  src/elements/SoftQuad.H
  src/elements/SoftSol.H
  src/elements/Sol.H
  src/initialization/AmrCoreData.cpp
  src/initialization/InitMeshRefinement.cpp
  src/particles/distribution/Thermal.H
  src/particles/integrators/Integrators.H
  src/particles/wakefields/WakePush.cpp
Labels: Performance optimization

#1035 Dashboard: Restructure Input Files
  src/python/impactx/dashboard/Input/__init__.py
  src/python/impactx/dashboard/Input/components/__init__.py
  src/python/impactx/dashboard/Input/csr/__init__.py
  src/python/impactx/dashboard/Input/csr/ui.py
  src/python/impactx/dashboard/Input/csrConfiguration/__init__.py
  src/python/impactx/dashboard/Input/defaults.py
  src/python/impactx/dashboard/Input/distribution/__init__.py
  src/python/impactx/dashboard/Input/distribution/ui.py
  src/python/impactx/dashboard/Input/inputParameters/__init__.py
  src/python/impactx/dashboard/Input/isr/__init__.py
  src/python/impactx/dashboard/Input/isr/ui.py
  src/python/impactx/dashboard/Input/lattice/__init__.py
  src/python/impactx/dashboard/Input/lattice/ui.py
  src/python/impactx/dashboard/Input/lattice/utils.py
  src/python/impactx/dashboard/Input/lattice/variable_handler.py
  src/python/impactx/dashboard/Input/shared.py
  src/python/impactx/dashboard/Input/simulation_parameters/__init__.py
  src/python/impactx/dashboard/Input/simulation_parameters/ui.py
  src/python/impactx/dashboard/Input/simulation_parameters/utils.py
  src/python/impactx/dashboard/Input/space_charge/__init__.py
  src/python/impactx/dashboard/Input/space_charge/ui.py
  src/python/impactx/dashboard/Input/space_charge/utils.py
  src/python/impactx/dashboard/Input/space_charge_configuration/__init__.py
  src/python/impactx/dashboard/Input/visualization/lattice/ui.py
  src/python/impactx/dashboard/Run/simulation.py
  src/python/impactx/dashboard/Toolbar/file_imports/python/helper.py
  src/python/impactx/dashboard/Toolbar/file_imports/ui_populator.py
  src/python/impactx/dashboard/Toolbar/general.py
  src/python/impactx/dashboard/Toolbar/run.py
  src/python/impactx/dashboard/__init__.py
  src/python/impactx/dashboard/app.py
Labels: component: dashboard

#1047 Dashboard: add defaults for mlmg inputs
  src/python/impactx/dashboard/Input/defaults.py
  src/python/impactx/dashboard/Input/shared.py
Labels: component: space charge, component: dashboard

#1046 Dashboard: Disable “Add” Button for Invalid Lattice Elements
  src/python/impactx/dashboard/Input/components/input.py
  src/python/impactx/dashboard/Input/lattice/ui.py
Labels: bug, component: dashboard

#1045 Dashboard: Set default name for BeamMonitor if name is empty
  src/python/impactx/dashboard/Input/defaults.py
  src/python/impactx/dashboard/Input/lattice/ui.py
Labels: component: dashboard

#1048 Fix PipeAperture Getter
  src/elements/mixin/pipeaperture.H
Labels: bug, component: elements

#1044 Dashboard: code cleanup
  src/python/impactx/dashboard/Input/__init__.py
  src/python/impactx/dashboard/Input/components/card.py
  src/python/impactx/dashboard/Input/components/input.py
  src/python/impactx/dashboard/Input/defaults.py
  src/python/impactx/dashboard/Input/distribution/ui.py
  src/python/impactx/dashboard/Input/distribution/utils.py
  src/python/impactx/dashboard/Input/lattice/ui.py
  src/python/impactx/dashboard/Input/lattice/variable_handler.py
  src/python/impactx/dashboard/Input/shared.py
  src/python/impactx/dashboard/Input/simulation_parameters/__init__.py
  src/python/impactx/dashboard/Input/simulation_parameters/ui.py
  src/python/impactx/dashboard/Input/simulation_parameters/utils.py
  src/python/impactx/dashboard/Input/space_charge/ui.py
  src/python/impactx/dashboard/Input/space_charge/utils.py
  src/python/impactx/dashboard/Input/utils.py
  src/python/impactx/dashboard/Input/visualization/lattice/statistics.py
  src/python/impactx/dashboard/Toolbar/__init__.py
  src/python/impactx/dashboard/Toolbar/input.py
Labels: component: dashboard

#1053 Dashboard Tests: Add lattice statistics coverage to `test_dashboard.py`
  src/python/impactx/dashboard/Input/visualization/lattice/statistics.py
  tests/python/dashboard/test_dashboard.py
  tests/python/dashboard/utils.py
Labels: component: dashboard

#1019 `Aperture`: Hexagonal Mask Patterns
  docs/source/usage/parameters.rst
  docs/source/usage/python.rst
  examples/aperture/README.rst
  examples/aperture/analysis_aperture_periodic.py
  examples/aperture/input_aperture_periodic.in
  examples/aperture/run_aperture_periodic.py
  src/elements/Aperture.H
  src/initialization/InitElement.cpp
  src/python/elements.cpp
Labels: enhancement, component: elements

#1040 MPL: `KnownElementsList.plot_survey()`
  docs/source/usage/python.rst
  src/elements/Sbend.H
  src/python/elements.cpp
  src/python/impactx/__init__.py
  src/python/impactx/extensions/KnownElementsList.py
  src/python/impactx/plot/ElementColors.py
  src/python/impactx/plot/Survey.py
  src/python/impactx/plot/__init__.py
  tests/python/test_dataframe.py
Labels: component: python

#1067 Doxygen: No Python Files
  docs/Doxyfile
Labels: component: documentation

#1070 OpenMP Parallelize InitDistribution
  examples/cfchannel/analysis_cfchannel_10nC.py
  examples/chicane/analysis_chicane_isr.py
  examples/epac2004_benchmarks/analysis_fodo_rf_SC.py
  examples/iota_lens/analysis_iotalens.py
  examples/kurth/analysis_kurth_periodic.py
  examples/optimize_triplet/analysis_triplet.py
  examples/solenoid/analysis_solenoid.py
  examples/solenoid_restart/analysis_solenoid.py
  src/initialization/InitDistribution.cpp
Labels: backend: openmp, Performance optimization
