Repository BLAST-ImpactX/impactx, pull requests merged in 2025-01, with the labels that each got.

#776 [Dashboard] - Validate and prevent non-existent lattice elements from being added
  src/python/impactx/dashboard/Input/latticeConfiguration/latticeMain.py
Labels: bug, component: dashboard

#774 Add short linac segment example.
  docs/source/usage/examples.rst
  examples/CMakeLists.txt
  examples/linac_segment/README.rst
  examples/linac_segment/analysis_linac_segment.py
  examples/linac_segment/input_linac_segment.in
  examples/linac_segment/run_linac_segment.py
  src/initialization/InitDistribution.cpp
Labels: component: tests

#772 Add defaults.py, Custom Step Values, and fix code in dashboard
  src/python/impactx/dashboard/Analyze/plotsMain.py
  src/python/impactx/dashboard/Input/csrConfiguration/__init__.py
  src/python/impactx/dashboard/Input/csrConfiguration/csrMain.py
  src/python/impactx/dashboard/Input/defaults.py
  src/python/impactx/dashboard/Input/distributionParameters/distributionMain.py
  src/python/impactx/dashboard/Input/generalFunctions.py
  src/python/impactx/dashboard/Input/inputParameters/inputMain.py
  src/python/impactx/dashboard/Input/latticeConfiguration/latticeMain.py
  src/python/impactx/dashboard/Input/space_charge_configuration/__init__.py
  src/python/impactx/dashboard/Input/space_charge_configuration/spaceChargeMain.py
  src/python/impactx/dashboard/simulation.py
Labels: component: dashboard

#784 Sphinx: Fix Errors/Warnings
  docs/source/usage/python.rst
  examples/cfchannel/README.rst
  examples/expanding_beam/README.rst
Labels: component: documentation, warning

#782 Named: `name` Only Used Once
  src/particles/elements/Aperture.H
  src/particles/elements/Buncher.H
  src/particles/elements/CFbend.H
  src/particles/elements/ChrDrift.H
  src/particles/elements/ChrPlasmaLens.H
  src/particles/elements/ChrQuad.H
  src/particles/elements/ChrUniformAcc.H
  src/particles/elements/ConstF.H
  src/particles/elements/DipEdge.H
  src/particles/elements/Drift.H
  src/particles/elements/ExactDrift.H
  src/particles/elements/ExactSbend.H
  src/particles/elements/Kicker.H
  src/particles/elements/Multipole.H
  src/particles/elements/NonlinearLens.H
  src/particles/elements/PRot.H
  src/particles/elements/PlaneXYRot.H
  src/particles/elements/Programmable.H
  src/particles/elements/Quad.H
  src/particles/elements/RFCavity.H
  src/particles/elements/Sbend.H
  src/particles/elements/ShortRF.H
  src/particles/elements/SoftQuad.H
  src/particles/elements/SoftSol.H
  src/particles/elements/Sol.H
  src/particles/elements/TaperedPL.H
  src/particles/elements/ThinDipole.H
Labels: component: elements, warning

#778 Add UI functionality to reset inputs
  src/python/impactx/dashboard/Input/csrConfiguration/csrMain.py
  src/python/impactx/dashboard/Input/defaults.py
  src/python/impactx/dashboard/Input/distributionParameters/distributionFunctions.py
  src/python/impactx/dashboard/Input/distributionParameters/distributionMain.py
  src/python/impactx/dashboard/Input/generalFunctions.py
  src/python/impactx/dashboard/Input/inputParameters/inputMain.py
  src/python/impactx/dashboard/Input/latticeConfiguration/latticeMain.py
  src/python/impactx/dashboard/Input/space_charge_configuration/spaceChargeMain.py
  src/python/impactx/dashboard/Input/trameFunctions.py
  src/python/impactx/dashboard/Toolbar/exportTemplate.py
  src/python/impactx/dashboard/Toolbar/toolbarMain.py
Labels: component: dashboard

#786 Python: Mixin Elements Submodule
  src/python/elements.cpp
Labels: component: elements, component: python

#787 Python 3.13 Support, 3.8 EOL
  CMakeLists.txt
  cmake/dependencies/pybind11.cmake
  docs/source/install/dependencies.rst
  setup.py
Labels: install, component: third party, component: python

#790 Release 25.01
  .github/workflows/dependencies/hip-openmpi.sh
  .github/workflows/dependencies/nvcc11-openmpi.sh
  CMakeLists.txt
  cmake/dependencies/ABLASTR.cmake
  cmake/dependencies/pyAMReX.cmake
  docs/source/conf.py
  setup.py
  src/particles/spacecharge/PoissonSolve.cpp
Labels: component: documentation

#791 AMReX: `development`
  .github/workflows/windows.yml
  cmake/dependencies/ABLASTR.cmake
Labels: component: third party

#793 Remove Managed Memory Workarounds
  docs/source/usage/parameters.rst
  examples/aperture/input_aperture.in
  examples/aperture/run_absorber.py
  examples/aperture/run_aperture.py
  examples/aperture/run_aperture_periodic.py
  tests/python/conftest.py
Labels: backend: cuda, backend: sycl, backend: hip, component: elements

#780 Condense repetitive dashboard code
  src/python/impactx/dashboard/Input/__init__.py
  src/python/impactx/dashboard/Input/csrConfiguration/csrMain.py
  src/python/impactx/dashboard/Input/defaults.py
  src/python/impactx/dashboard/Input/distributionParameters/distributionMain.py
  src/python/impactx/dashboard/Input/generalFunctions.py
  src/python/impactx/dashboard/Input/inputParameters/inputMain.py
  src/python/impactx/dashboard/Input/latticeConfiguration/latticeMain.py
  src/python/impactx/dashboard/Input/space_charge_configuration/spaceChargeFunctions.py
  src/python/impactx/dashboard/Input/space_charge_configuration/spaceChargeMain.py
  src/python/impactx/dashboard/Input/trameFunctions.py
  src/python/impactx/dashboard/Toolbar/toolbarMain.py
  src/python/impactx/dashboard/__main__.py
  src/python/impactx/dashboard/start.py
Labels: component: dashboard

#796 AMReX: `development`
  cmake/dependencies/ABLASTR.cmake
Labels: component: third party

#779 Update UI interactions
  src/python/impactx/dashboard/Input/distributionParameters/distributionMain.py
  src/python/impactx/dashboard/Input/space_charge_configuration/spaceChargeFunctions.py
  src/python/impactx/dashboard/Input/space_charge_configuration/spaceChargeMain.py
  src/python/impactx/dashboard/Toolbar/exportTemplate.py
Labels: bug, bug: affects latest release, component: dashboard

#795 Fix Lost Particle w/ Runtime Attr
  src/ImpactX.cpp
  src/particles/CollectLost.cpp
Labels: bug, bug: affects latest release, component: diagnostics

#792 Parameters: Use AMReX Parser
  docs/source/usage/parameters.rst
  examples/achromatic_spectrometer/input_spectrometer.in
  examples/alignment/input_alignment.in
  examples/apochromatic/input_apochromatic.in
  examples/apochromatic/input_apochromatic_pl.in
  examples/cfbend/input_cfbend.in
  examples/cfchannel/input_cfchannel.in
  examples/cfchannel/input_cfchannel_10nC_fft.in
  examples/cfchannel/input_cfchannel_10nC_mlmg.in
  examples/chicane/input_chicane.in
  examples/chicane/input_chicane_csr.in
  examples/compression/input_compression.in
  examples/coupled_optics/input_coupled_optics.in
  examples/cyclotron/input_cyclotron.in
  examples/distgen/input_gaussian_twiss.in
  examples/distgen/input_kurth4d.in
  examples/distgen/input_kvdist_twiss.in
  examples/distgen/input_semigaussian.in
  examples/dogleg/input_dogleg.in
  examples/epac2004_benchmarks/input_bithermal.in
  examples/epac2004_benchmarks/input_fodo_rf_SC.in
  examples/epac2004_benchmarks/input_thermal.in
  examples/expanding_beam/input_expanding_fft.in
  examples/expanding_beam/input_expanding_mlmg.in
  examples/fodo/input_fodo.in
  examples/fodo/input_fodo_twiss.in
  examples/fodo_channel/input_fodo.in
  examples/fodo_chromatic/input_fodo_chr.in
  examples/fodo_tune/input_fodo_tune.in
  examples/iota_lens/input_iotalens.in
  examples/iota_lens/input_iotalens_sdep.in
  examples/kicker/input_kicker.in
  examples/kurth/input_kurth_10nC_periodic.in
  examples/kurth/input_kurth_periodic.in
  examples/linac_segment/input_linac_segment.in
  examples/multipole/input_multipole.in
  examples/positron_channel/input_positron.in
  examples/quadrupole_softedge/input_quadrupole_softedge.in
  examples/rotation/input_rotation.in
  examples/thin_dipole/input_thin_dipole.in
  src/ImpactX.cpp
  src/initialization/InitAmrCore.cpp
  src/initialization/InitDistribution.cpp
  src/initialization/InitElement.cpp
  src/initialization/InitMeshRefinement.H
  src/initialization/InitMeshRefinement.cpp
  src/initialization/Warnings.cpp
  src/particles/ImpactXParticleContainer.cpp
  src/particles/diagnostics/DiagnosticOutput.cpp
  src/particles/elements/diagnostics/AdditionalProperties.cpp
  src/particles/elements/diagnostics/openPMD.cpp
  src/particles/spacecharge/PoissonSolve.cpp
  src/particles/wakefields/HandleWakefield.H
  src/python/ImpactX.cpp
  src/python/elements.cpp
Labels: changes input scripts / defaults, component: core, component: elements

#800 CollectParticles: Remove Verbose Print
  src/particles/CollectLost.cpp
Labels: component: core

#801 Doc: More Developer Packages
  docs/source/install/dependencies.rst
Labels: bug, component: documentation, bug: affects latest release, install, component: python

#804 Fix Aperture Backwards Compat.
  src/initialization/InitElement.cpp
Labels: bug

#802 Test of IOTA nonlinear magnet model with physical aperture.
  examples/CMakeLists.txt
  examples/iota_lens/README.rst
  examples/iota_lens/analysis_iotalens_sdep_aperture.py
  examples/iota_lens/input_iotalens_sdep_aperture.in
  examples/iota_lens/run_iotalens_sdep_aperture.py
Labels: component: tests

#806 Refactor Unit Handling for kin_energy
  src/python/impactx/dashboard/Input/defaults.py
  src/python/impactx/dashboard/Input/inputParameters/inputFunctions.py
  src/python/impactx/dashboard/Input/inputParameters/inputMain.py
Labels: component: dashboard

#808 Restructure UI Component Code
  src/python/impactx/dashboard/Input/__init__.py
  src/python/impactx/dashboard/Input/components.py
  src/python/impactx/dashboard/Input/csrConfiguration/csrMain.py
  src/python/impactx/dashboard/Input/distributionParameters/distributionMain.py
  src/python/impactx/dashboard/Input/inputParameters/inputMain.py
  src/python/impactx/dashboard/Input/latticeConfiguration/latticeMain.py
  src/python/impactx/dashboard/Input/space_charge_configuration/spaceChargeMain.py
  src/python/impactx/dashboard/Input/trameFunctions.py
  src/python/impactx/dashboard/__main__.py
Labels: component: dashboard

#809 Fix reset input capabilities
  src/python/impactx/dashboard/Input/generalFunctions.py
Labels: bug, component: dashboard

#728 openPMD-api: 0.16.1+
  cmake/dependencies/ABLASTR.cmake
  docs/source/install/dependencies.rst
Labels: install, component: third party, component: diagnostics

#789 Address possible NaN in ExactSbend & ChrUniformAcc
  examples/CMakeLists.txt
  examples/cyclotron/README.rst
  examples/cyclotron/analysis_cyclotron_loss.py
  examples/cyclotron/input_cyclotron_loss.in
  examples/cyclotron/run_cyclotron_loss.py
  src/particles/elements/ChrUniformAcc.H
  src/particles/elements/ExactSbend.H
Labels: bug, bug: affects latest release, component: elements

#815 Reorder Distribution Init
  src/initialization/InitDistribution.H
  src/initialization/InitDistribution.cpp
Labels: component: distributions

#813 Solvable example of an expanding beam scraping an aperture
  docs/source/usage/examples.rst
  examples/CMakeLists.txt
  examples/scraping_beam/README.rst
  examples/scraping_beam/analysis_scraping.py
  examples/scraping_beam/input_scraping.in
  examples/scraping_beam/run_scraping.py
Labels: component: elements, component: tests

#819 Small additions to data analysis docs.
  docs/source/dataanalysis/dataanalysis.rst
Labels: component: documentation

#818 Fix ConstF special k=0 case to address NaN's
  src/particles/elements/ConstF.H
Labels: bug, bug: affects latest release, component: elements

#811 Modernize Conda-Forge Guidance
  docs/source/install/dependencies.rst
  docs/source/install/users.rst
Labels: component: documentation, install, component: third party

#805 Particle Names from AMReX
  cmake/dependencies/ABLASTR.cmake
  cmake/dependencies/pyAMReX.cmake
  examples/requirements.txt
  requirements.txt
  src/particles/CollectLost.cpp
  src/particles/ImpactXParticleContainer.H
  src/particles/ImpactXParticleContainer.cpp
  src/particles/elements/diagnostics/openPMD.cpp
  src/python/ImpactXParticleContainer.cpp
  src/python/impactx/__init__.py
  src/python/impactx/extensions/ImpactXParIter.py
  src/python/impactx/extensions/ImpactXParIter.pyi
  src/python/impactx/extensions/__init__.pyi
  src/python/impactx/impactx_pybind/__init__.pyi
Labels: component: core
